@import "../../../assets/scss/_style";
@import "../../../assets/scss/_stones";
@import "../../../assets/scss/_popup";

.temple-container {
  z-index: 9;

  width: 27%;
  position: absolute;
  left: 272px;
  bottom: -5px;

}

  #totalStones {
    position: absolute;
    right: 130px;
    bottom: 93px;
    height: 30px;
    width: 50px;

    &:hover {
      cursor: help;
    }
    .stoneIcon {
      background: url('/../../../assets/img/stone/stone_icon.png');
      background-size: 100% 100%;
    }
    .icon {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 30px;
      width: 30px;
    }
    .nrOfStones{
      position: absolute;
      right: -5px;
      bottom: 0;
      color: black;
      font-weight: bold;
      font-size: 20px;
    }
  }

.temple {
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 43px;
}

.templeStones {
  margin-left: auto;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.templeStones-secondLayer {
  margin-left: auto;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 10px;
  .templeStone{
    opacity: 0.6;
  }
}

.templeStone {
  z-index: 1;
  width: 50px;
  height: 50px;
  float: left;
  margin: 2px;
}

.templeStones-grid {
  margin-left: auto;
  padding: 0;
  position: absolute;
  bottom: 19px;
  left: 53px;
  width: 270px;

  .templeStone-grid {
    position: relative;
    width: 50px;
    height: 50px;
    float: left;
    margin: 2px;
    border: 1px solid black;
    .nextStoneIndicator{
      position: absolute;
      top: -18px;
      right: -22px;
      color: #f60502;
      width: 52px;
      font-size: 12px;
      font-weight: bold;

      .fa {
        &:hover {
          cursor: help;
        }
      }
    }
  }
}


/*******************************/
.site-name-popup {
  /* position of name and popup sign*/
  bottom: 133px;
  right: 12px;
}
.popup-text {
  /* position of popup content */
  bottom: 30px;
  left: -330px;
}

.harbor {
  /* position of harbor */
  top: -240px;
  left: 166px;
}
/*******************************/
