@import "../../../assets/scss/_style";
@import "../../../assets/scss/_stones";
@import "../../../assets/scss/_popup";

.temple-container {
  z-index: 0;

  width: 27%;
  position: absolute;
  left: 230px;
  bottom: 30px;
}

.temple {
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.templeStones {
  margin-left: auto;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.templeStone {
  width: 50px;
  height: 50px;
  float: left;
  margin: 2px;
}


.templeStones-grid {
  margin-left: auto;
  padding: 0;
  position: absolute;
  bottom: 19px;
  left: 30px;

  .templeStone-grid {
    width: 50px;
    height: 50px;
    float: left;
    margin: 2px;
    border: 1px solid black;
  }
}


/*******************************/
.site-name-popup {
  /* position of name and popup sign*/
  bottom: 80px;
  right: 80px;
}
.popup-text {
  /* position of popup content */
  bottom: -88px;
  left: -410px;
}

.harbor {
  /* position of harbor */
  top: -226px;
  left: 166px;
}
/*******************************/
