.updated {
  -webkit-box-shadow: 0 0 0 5px lime !important;
  -moz-box-shadow: 0 0 0 5px lime !important;
  box-shadow: 0 0 5px 5px lime !important; }

/*****************************************************************************************************/
/* STONES */
/*****************************************************************************************************/
.BLACK {
  color: white;
  /*background-color: $BLACK-background;*/
  background-image: url("../../../assets/img/stone/stone_black.png");
  background-size: 100% 100%; }

.WHITE {
  color: black;
  /*background-color: $WHITE-background;*/
  background-image: url("../../../assets/img/stone/stone_white.png");
  background-size: 100% 100%; }

.BROWN {
  color: black;
  /*background-color: $BROWN-background;*/
  background-image: url("../../../assets/img/stone/stone_brown.png");
  background-size: 100% 100%; }

.GRAY {
  color: black;
  /*background-color: $GRAY-background;*/
  background-image: url("../../../assets/img/stone/stone_gray.png");
  background-size: 100% 100%; }

/*****************************************************************************************************/
/* MARKET CARDS */
/*****************************************************************************************************/
/*blue*/
.CHISEL {
  background-image: url("../../../assets/img/market cards/market_card_blue_chisel.PNG");
  background-size: 100% 100%; }

.HAMMER {
  background-image: url("../../../assets/img/market cards/market_card_blue_hammer.PNG");
  background-size: 100% 100%; }

.LEVER {
  background-image: url("../../../assets/img/market cards/market_card_blue_lever.PNG");
  background-size: 100% 100%; }

.SAIL {
  background-image: url("../../../assets/img/market cards/market_card_blue_sail.PNG");
  background-size: 100% 100%; }

/*blue*/
/*green*/
.BURIAL_CHAMBER_DECORATION {
  background-image: url("../../../assets/img/market cards/market_card_green_burial_chamber_decoration.PNG");
  background-size: 100% 100%; }

.OBELISK_DECORATION {
  background-image: url("../../../assets/img/market cards/market_card_green_obelisk_decoration.PNG");
  background-size: 100% 100%; }

.PYRAMID_DECORATION {
  background-image: url("../../../assets/img/market cards/market_card_green_pyramid_decoration.PNG");
  background-size: 100% 100%; }

.TEMPLE_DECORATION {
  background-image: url("../../../assets/img/market cards/market_card_green_temple_decoration.PNG");
  background-size: 100% 100%; }

/*green*/
/*purple*/
.STATUE {
  background-image: url("../../../assets/img/market cards/market_red_entrance.PNG");
  background-size: 100% 100%; }

/*purple*/
/*red*/
.ENTRANCE {
  background-image: url("../../../assets/img/market cards/market_red_paved_path.PNG");
  background-size: 100% 100%; }

.PAVED_PATH {
  background-image: url("../../../assets/img/market cards/market_red_paved_path.PNG");
  background-size: 100% 100%; }

.SARCOPHAGUS {
  background-image: url("../../../assets/img/market cards/market_red_sarcophagus.PNG");
  background-size: 100% 100%; }

/*red*/
.temple-container {
  height: 220px;
  width: 27%;
  position: absolute;
  left: 230px;
  bottom: 30px;
  border-radius: 10px; }

.harborRow {
  padding: 5px; }

.harbor {
  border: 1px solid black;
  height: 40px;
  line-height: 40px;
  width: 160px;
  margin-top: 5px;
  text-align: center;
  padding: 0;
  border-radius: 10px;
  background-color: rgba(139, 139, 115, 0.66);
  position: absolute;
  left: 130px; }

.temple {
  height: 90px;
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 20px; }

.templeStones {
  margin-left: auto;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0; }

.templeStone {
  width: 50px;
  height: 50px;
  float: left;
  margin: 2px; }

.rules {
  border: 1px solid black;
  height: 90px;
  position: relative;
  margin-top: 2px;
  line-height: 90px;
  text-align: center; }

.fa {
  font-size: 3rem; }

.fa:hover {
  color: whitesmoke; }

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* The actual popup */
.popuptext {
  z-index: 10;
  visibility: hidden;
  width: 350px;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  bottom: 35px;
  left: -57px;
  margin-left: -80px;
  font-size: 1.5rem; }

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 43%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; }

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s; }

.rulesPopup {
  position: absolute;
  top: 80px;
  left: 230px;
  z-index: 100; }

.siteName {
  position: absolute;
  bottom: 80px;
  right: 80px; }

.templeStones-grid {
  margin-left: auto;
  padding: 0;
  position: absolute;
  bottom: 19px;
  left: 20px; }
  .templeStones-grid .templeStone-grid {
    width: 50px;
    height: 50px;
    float: left;
    margin: 2px; }

h2 {
  height: 10px;
  position: relative;
  top: -12px; }

h3 {
  font-size: 140%; }

.papyrus_roll {
  background-image: url("../../../assets/img/papyrus_roll.gif");
  background-size: 100% 120%; }

/*# sourceMappingURL=temple.component.css.map */
