<div class="temple-container">

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10 temple">
                <div class="temple-stones-wrapper">

                    <div *ngIf="numberOfPlayers < 3">
                        <div class="templeStones">
                            <div class="templeStone {{stone.color != undefined ? stone.color : ''}}" *ngFor="let stone of topLayer4">
                                {{stone.id}}
                            </div>
                        </div>
                    </div>


                    <div *ngIf="numberOfPlayers > 2">
                        <div class="templeStones">
                            <div class="templeStone {{stone.color != undefined ? stone.color : ''}}" *ngFor="let stone of topLayer5">
                                {{stone.id}}
                            </div>
                        </div>
                    </div>

                </div>


            </div>

            <div class="col-md-2 harborRow ">
                <div class="harbor">
                    H
                </div>
            </div>
        </div>


    </div>


    <div class="rulesPopup">
        <i id="rulesPopup" class="fa fa-question-circle popup" (click)="displayRule()" aria-hidden="true">
                <span class="popuptext" id="templePopup">
                    <h2>Temple</h2>
                    <p>Assess points at the end of every round</p>
                    <p>Earn 1 point for each stone visible from above</p>
                </span>
        </i>
    </div>


</div>
