<div class="harbor-container" >
    <div>
        <div class="ship1">
            <ship
                    [(ROUND)]="ROUND"
                    [(ID)]="IDS[0]"
                    [(IS_SUB_ROUND)]="IS_SUB_ROUND"
                    [(IS_MY_TURN)]="IS_MY_TURN"
                    [(IS_MY_SUBROUND_TURN)]="IS_MY_SUBROUND_TURN"
                    (SHIP_WANTS_TO_SAIL)="handleShipDragging($event)">
            </ship>
        </div>
        <div class="ship23">
            <ship
                    [(ROUND)]="ROUND"
                    [(ID)]="IDS[1]"
                    [(IS_SUB_ROUND)]="IS_SUB_ROUND"
                    [(IS_MY_TURN)]="IS_MY_TURN"
                    [(IS_MY_SUBROUND_TURN)]="IS_MY_SUBROUND_TURN"
                    (SHIP_WANTS_TO_SAIL)="handleShipDragging($event)">
            </ship>
            <ship
                    [(ROUND)]="ROUND"
                    [(ID)]="IDS[2]"
                    [(IS_SUB_ROUND)]="IS_SUB_ROUND"
                    [(IS_MY_TURN)]="IS_MY_TURN"
                    [(IS_MY_SUBROUND_TURN)]="IS_MY_SUBROUND_TURN"
                    (SHIP_WANTS_TO_SAIL)="handleShipDragging($event)">
            </ship>
        </div>
        <div class="ship4">
            <ship
                    [(ROUND)]="ROUND"
                    [(ID)]="IDS[3]"
                    [(IS_SUB_ROUND)]="IS_SUB_ROUND"
                    [(IS_MY_TURN)]="IS_MY_TURN"
                    [(IS_MY_SUBROUND_TURN)]="IS_MY_SUBROUND_TURN"
                    (SHIP_WANTS_TO_SAIL)="handleShipDragging($event)">
            </ship>
        </div>
    </div>
</div>
