ship::after {
    clear: both;
}

ship::before,
ship::after {
    display: table;
    content: '';
}

.harbor-container{
    position: absolute;
    bottom:160px;
    left: 180px;
    padding: 10px;
}