<div class="harbor-container" >
    <div>
        <div class="ship1">
            <ship
                    [(ROUND)]="ROUND"
                    [(ID)]="IDS[0]"
                    [(IS_MY_TURN)]="IS_MY_TURN">
            </ship>
        </div>
        <div class="ship23">
            <ship
                    [(ROUND)]="ROUND"
                    [(ID)]="IDS[1]"
                    [(IS_MY_TURN)]="IS_MY_TURN">
            </ship>
            <ship
                    [(ROUND)]="ROUND"
                    [(ID)]="IDS[2]"
                    [(IS_MY_TURN)]="IS_MY_TURN">
            </ship>
        </div>
        <div class="ship4">
            <ship
                    [(ROUND)]="ROUND"
                    [(ID)]="IDS[3]"
                    [(IS_MY_TURN)]="IS_MY_TURN">
            </ship>
        </div>
    </div>
</div>
