<div class="harbor-container" >
    <div>
        <div class="ship1">
            <ship
                    [(CURRENTPLAYER)]="CURRENTPLAYER"
                    [(ROUND)]="ROUND"
                    [(ID)]="IDS[0]">
            </ship>
        </div>
        <div class="ship23">
            <ship
                    [(CURRENTPLAYER)]="CURRENTPLAYER"
                    [(ROUND)]="ROUND"
                    [(ID)]="IDS[1]">
            </ship>
            <ship
                    [(CURRENTPLAYER)]="CURRENTPLAYER"
                    [(ROUND)]="ROUND"
                    [(ID)]="IDS[2]">
            </ship>
        </div>
        <div class="ship4">
            <ship
                    [(CURRENTPLAYER)]="CURRENTPLAYER"
                    [(ROUND)]="ROUND"
                    [(ID)]="IDS[3]">
            </ship>
        </div>
    </div>
</div>
