/*****************************************************************************************************/
/* MARKET CARDS */
/*****************************************************************************************************/

/*blue*/
.CHISEL {
  background-image: url('/../../../assets/img/market-cards/market_card_blue_chisel.png');
  background-size: 100% 100%;
}

.HAMMER {
  background-image: url('/../../../assets/img/market-cards/market_card_blue_hammer.png');
  background-size: 100% 100%;
}

.LEVER {
  background-image: url('/../../../assets/img/market-cards/market_card_blue_lever.png');
  background-size: 100% 100%;
}

.SAIL {
  background-image: url('/../../../assets/img/market-cards/market_card_blue_sail.png');
  background-size: 100% 100%;
}
/*blue*/

/*green*/
.BURIAL_CHAMBER_DECORATION {
  background-image: url('/../../../assets/img/market-cards/market_card_green_burial_chamber_decoration.png');
  background-size: 100% 100%;
}

.OBELISK_DECORATION {
  background-image: url('/../../../assets/img/market-cards/market_card_green_obelisk_decoration.png');
  background-size: 100% 100%;
}

.PYRAMID_DECORATION {
  background-image: url('/../../../assets/img/market-cards/market_card_green_pyramid_decoration.png');
  background-size: 100% 100%;
}

.TEMPLE_DECORATION {
  background-image: url('/../../../assets/img/market-cards/market_card_green_temple_decoration.png');
  background-size: 100% 100%;
}
/*green*/

/*purple*/
.STATUE {
  background-image: url('/../../../assets/img/market-cards/market_purple_statue.png');
  background-size: 100% 100%;
}
/*purple*/

/*red*/
.ENTRANCE {
  background-image: url('/../../../assets/img/market-cards/market_red_entrance.png');
  background-size: 100% 100%;
}

.PAVED_PATH {
  background-image: url('/../../../assets/img/market-cards/market_red_paved_path.png');
  background-size: 100% 100%;
}

.SARCOPHAGUS {
  background-image: url('/../../../assets/img/market-cards/market_red_sarcophagus.png');
  background-size: 100% 100%;
}
/*red*/
