/*****************************************************************************************************/
/* STONES */
/*****************************************************************************************************/

.BLACK {
  color: $BLACK-foreground;
  /*background-color: $BLACK-background;*/
  background-image: url('/../../../assets/img/stone/stone_black.png');
  background-size: 100% 100%;
}

.WHITE {
  color: $WHITE-foreground;
  /*background-color: $WHITE-background;*/
  background-image: url('/../../../assets/img/stone/stone_white.png');
  background-size: 100% 100%;

}

.BROWN {
  color: $BROWN-foreground;
  /*background-color: $BROWN-background;*/
  background-image: url('/../../../assets/img/stone/stone_brown.png');
  background-size: 100% 100%;
}

.GRAY {
  color: $GRAY-foreground;
  /*background-color: $GRAY-background;*/
  background-image: url('/../../../assets/img/stone/stone_gray.png');
  background-size: 100% 100%;
}