<div class="site-harbor-container {{ORIENTATION}}"
     [ngClass]="{updated: SHIP_WANTS_TO_SAIL && !hasDockedShip, dragOver: isDragOver}" [dropZones]="['siteHarbor']" dnd-droppable
     (onDropSuccess)="transferDataSuccess($event)" [allowDrop]="allowDrop()" (dragover)="onDragOver()"
        (dragleave)="onDragExit()">
    <site-ship
            *ngIf="hasDockedShip"
            [orientation]="ORIENTATION">
    </site-ship>
</div>

<!-- removed 'hasUpdated || ' from ngClass of first div => no harbor change is indicated now-->
