@import "../../../_style";

.site-harbor-container {
  border: 1px solid black;
  border-radius: 10px;

  background-color: rgba(139, 139, 115, 0.66);

  &.vertical {
    width: 40px;
    height: 140px;
  }

  &.horizontal {
    width: 140px;
    height: 40px;
  }
}
