@import "../../../assets/scss/_style";

.supply-sled-container {
  z-index: 0;
  padding-top: 20px;

  .sled {
    margin: 0 auto;
    width: 161px;
    height: 115px;

    position: relative;

    // sled stuff
    &.black_sled {
      background: url('/../../../assets/img/supplySled/supply_sled_black.png');
    }

    &.white_sled {
      background: url('/../../../assets/img/supplySled/supply_sled_white.png');
    }

    &.brown_sled {
      background: url('/../../../assets/img/supplySled/supply_sled_brown.png');
    }

    &.gray_sled {
      background: url('/../../../assets/img/supplySled/supply_sled_gray.png');
    }

    &.black_sled,
    &.white_sled,
    &.brown_sled,
    &.gray_sled {
      background-size: 100% 100%;
    }

    // stone stuff
    $stone-size: 30px;

    .stone1,
    .stone2,
    .stone3,
    .stone4,
    .stone5 {
      position: absolute;
      width: $stone-size;
      height: $stone-size;

      background-color: black;
    }

    .stone1 {
      top: 20px;
      left: 44px;
    }

    .stone2 {
      top: 20px;
      left: 87px;
    }

    .stone3 {
      top: 67px;
      left: 22px;
    }

    .stone4 {
      top: 67px;
      left: 67px;
    }

    .stone5 {
      top: 67px;
      left: 112px;
    }

    .black_stone {
      background-color: black;
      box-shadow: 0 0 3px 3px rgba(white, 0.75);
      color: whitesmoke;
    }

    .white_stone {
      background-color: white;
      box-shadow: 0 0 3px 3px rgba(black, 0.75);
    }

    .brown_stone {
      background-color: brown;
      box-shadow: 0 0 3px 3px rgba(white, 0.75);
      color: whitesmoke;
    }

    .gray_stone {
      background-color: gray;
      box-shadow: 0 0 3px 3px rgba(black, 0.75);
      color: whitesmoke;
    }

    // add stones
    .add_stones {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 50px 0 0 75px;
      font-size: 20px;
      background-color: rgba(128, 128, 128, 0.5);
      color: white;

      z-index: 1;

      $hover-color: green;
      &:hover {
        cursor: pointer;
        color: $hover-color;
        background-color: rgba(128, 128, 128, 0.7);
        box-shadow: 0 0 3px 3px rgba(red($hover-color), green($hover-color), blue($hover-color), 0.75);
      }
    }

    #stoneQuarry {
      position: absolute;
      padding: 2px;
      border-radius: 5px;
      right: -10px;
      top: -15px;
      z-index: 10;
    }

  }

  .player {
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 20;
    width: 130px;
    background-color: rgba(0, 58, 144, 1);
    color: whitesmoke;
    border-radius: 5px;

    &.currentPlayer {
      animation: pulse 0.5s infinite;
      animation-direction: alternate;
      animation-timing-function: ease-out;
    }

    @keyframes pulse {
      0% {
        -webkit-box-shadow: 0 0 5px 4px rgba(255, 224, 0, 1);
        -moz-box-shadow: 0 0 5px 4px rgba(255, 224, 0, 1);
        box-shadow: 0 0 5px 4px rgba(255, 224, 0, 1);
      }
      100% {
        -webkit-box-shadow: 0 0 5px 4px rgba(255, 224, 0, 0);
        -moz-box-shadow: 0 0 5px 4px rgba(255, 224, 0, 0);
        box-shadow: 0 0 5px 4px rgba(255, 224, 0, 0);
      }
    }

    .playerName {
      font-size: 14px;
      font-weight: bold;
      padding: 3px 6px;
      text-align: left;
      margin: 0;
    }
  }

  .playerIcon {
    position: absolute;
    right: 43px;
    top: -11px;
    z-index: 20;

    .fa-star {
      font-size: 30px;
      color: #ffa700;
    }
  }

  .subRoundIndicator {
    color: #ff1f1f;
    position: absolute;
    top: -6px;
    left: 125px;
    z-index: 30;
    font-size: 16px;
  }
}