.supply-sled-container {
  width: 100%;
  height: 115px;
}


.black {
  background: url('../../../assets/img/supply sled/supply_sled_black.png');
}

.white {
  background: url('../../../assets/img/supply sled/supply_sled_white.png');
}

.brown {
  background: url('../../../assets/img/supply sled/supply_sled_brown.png');
}

.gray {
  background: url('../../../assets/img/supply sled/supply_sled_gray.png');
}

.black,
.white,
.brown,
.gray {
  background-size: 100% 100%;
}