<div class="supply-sled-container" [ngClass]="{currentPlayer: NR==CURRENT_PLAYER}">


    <div class="player">
        <p class="playerName" >{{sledPlayerName}}</p>
    </div>
    <div *ngIf="NR==clientPlayerNumber" class="playerIcon">
        <i class="fa fa-star" aria-hidden="true"></i>
    </div>


    <div class="sled" [ngClass]="{
                black_sled: COLOR=='BLACK',
                white_sled: COLOR=='WHITE',
                brown_sled: COLOR=='BROWN',
                gray_sled: COLOR=='GRAY'
                }">
        <div *ngIf="IS_MY_TURN && isMySled() && !isSledFull()" class="add_stones" (click)="getStones()">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
        <div *ngIf="sledStones[0] != undefined" class="stone1" [ngClass]="{
                black_stone: COLOR=='BLACK',
                white_stone: COLOR=='WHITE',
                brown_stone: COLOR=='BROWN',
                gray_stone: COLOR=='GRAY',
                updated: hasSledChanged[0]
                }"></div>
        <div *ngIf="sledStones[1] != undefined" class="stone2" [ngClass]="{
                black_stone: COLOR=='BLACK',
                white_stone: COLOR=='WHITE',
                brown_stone: COLOR=='BROWN',
                gray_stone: COLOR=='GRAY',
                updated: hasSledChanged[1]
                }"></div>
        <div *ngIf="sledStones[2] != undefined" class="stone3" [ngClass]="{
                black_stone: COLOR=='BLACK',
                white_stone: COLOR=='WHITE',
                brown_stone: COLOR=='BROWN',
                gray_stone: COLOR=='GRAY',
                updated: hasSledChanged[2]
                }"></div>
        <div *ngIf="sledStones[3] != undefined" class="stone4" [ngClass]="{
                black_stone: COLOR=='BLACK',
                white_stone: COLOR=='WHITE',
                brown_stone: COLOR=='BROWN',
                gray_stone: COLOR=='GRAY',
                updated: hasSledChanged[3]
                }"></div>
        <div *ngIf="sledStones[4] != undefined" class="stone5" [ngClass]="{
                black_stone: COLOR=='BLACK',
                white_stone: COLOR=='WHITE',
                brown_stone: COLOR=='BROWN',
                gray_stone: COLOR=='GRAY',
                updated: hasSledChanged[4]
                }"></div>
        <div id="stoneQuarry" [ngClass]="{
                black_stone: COLOR=='BLACK',
                white_stone: COLOR=='WHITE',
                brown_stone: COLOR=='BROWN',
                gray_stone: COLOR=='GRAY',
                updated: hasQuarryChanged
                }">
            {{quarryStones}}/30
        </div>
    </div>
    <player-cards [(CARDS)]="playerCards"
                  [(NR)]="NR"
                  [(CURRENTPLAYER)]="CURRENT_PLAYER">
    </player-cards>
</div>
