<div class="supply-sled-container">
    <div class="player">
        <p class="playerName" [ngClass]="{currentPlayer: nr==currentPlayer}">{{sledPlayerName}}</p>
    </div>

    <div class="sled" [ngClass]="{
                black_sled: color=='BLACK',
                white_sled: color=='WHITE',
                brown_sled: color=='BROWN',
                gray_sled: color=='GRAY'
                }">
        <div *ngIf="isMyTurn() && !isSledFull()" class="add_stones" (click)="getStones()">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
        <div *ngIf="sledStones[0] != undefined" class="stone1" [ngClass]="{
                black_stone: color=='BLACK',
                white_stone: color=='WHITE',
                brown_stone: color=='BROWN',
                gray_stone: color=='GRAY',
                updated: hasSledChanged[0]
                }"></div>
        <div *ngIf="sledStones[1] != undefined" class="stone2" [ngClass]="{
                black_stone: color=='BLACK',
                white_stone: color=='WHITE',
                brown_stone: color=='BROWN',
                gray_stone: color=='GRAY',
                updated: hasSledChanged[1]
                }"></div>
        <div *ngIf="sledStones[2] != undefined" class="stone3" [ngClass]="{
                black_stone: color=='BLACK',
                white_stone: color=='WHITE',
                brown_stone: color=='BROWN',
                gray_stone: color=='GRAY',
                updated: hasSledChanged[2]
                }"></div>
        <div *ngIf="sledStones[3] != undefined" class="stone4" [ngClass]="{
                black_stone: color=='BLACK',
                white_stone: color=='WHITE',
                brown_stone: color=='BROWN',
                gray_stone: color=='GRAY',
                updated: hasSledChanged[3]
                }"></div>
        <div *ngIf="sledStones[4] != undefined" class="stone5" [ngClass]="{
                black_stone: color=='BLACK',
                white_stone: color=='WHITE',
                brown_stone: color=='BROWN',
                gray_stone: color=='GRAY',
                updated: hasSledChanged[4]
                }"></div>
        <div id="stoneQuarry" [ngClass]="{
                black_stone: color=='BLACK',
                white_stone: color=='WHITE',
                brown_stone: color=='BROWN',
                gray_stone: color=='GRAY',
                updated: hasQuarryChanged
                }">
            {{quarryStones}}/30
        </div>
    </div>
    <player-cards [(CARDS)]="playerCards"
                  [(NR)]="nr">
    </player-cards>



</div>
<!--<p class="playerName" [ngClass]="{currentPlayer: player.playerNumber==game.currentPlayer}">{{player.username}}</p>-->
