.scoreBoard-container {
  z-index: 100;
  height: 230px;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 0;
  overflow: hidden;

  #ScoreBoardDropDownClicker {
    #round {
      .subRoundIndicator {
        color: #ffc21f;
      }
    }
  }
}

table {
  width: 330px;
  background: radial-gradient(300.00px at 50% 50%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(242, 153, 74, 0.9), rgba(242, 153, 74, 0.9));
  border-collapse: separate;
  border: solid black 1px;
  border-radius: 6px;
  -moz-border-radius: 6px;
}

table:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

th {
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 24px;
}

tr {
  height: 30px;
  line-height: 30px;
  text-align: center;
}

tr:hover {
  background-color: rgba(244, 164, 96, 0.86);

}

td {
  padding: 0 10px;
}

.BLACK {
  color: black;
}

.WHITE {
  color: whitesmoke;
}

.BROWN {
  color: #955050;
}

.GRAY {
  color: #808080;
}

.scoreBoardContent {
}

.scoreBoard-playerNumber {
  width: 20px;
}

.scoreBoard-playerColor {
  width: 30px;
}

.fa {
  font-size: 2.5rem;
  margin-top: 3px;
}

.scoreBoard-username {
}

.scoreBoard-points {
  width: 40px;
  .pointChanges{
    font-size: 10px;
    color: green;
  }
}

.scoreBoard-PointsString {
  width: 60px;

}

#round {
  padding: 3px;
  text-align: center;
  background-color: #3d77ae;
  position: relative;
  top: 0;
  z-index: 10;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
  color: black;
  font-size: 16px;
  border: 1px solid whitesmoke;
  border-top: none;
}

#round:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  background-color: #449edc;
}

.roundCounter {
  color: whitesmoke;
  font-size: 18px;
  font-weight: bold;
  margin-left: 15px;
}

#ScoreBoardDropDownClicker {
  cursor: pointer;
  height: 20px;

}

#scoreBoard {
  position: relative;
  top: -205px;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;
}

.roundChange {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: -228px;

  width: 1366px;
  height: 768px;

  background-color: rgba(0, 0, 0, 0.80);

  .content-wrapper {
    position: relative;
    .content {
      margin: 150px auto 0 auto;
      width: 600px;
      color: white;
      text-align: center;

      .bigRound{
        font-size: 60px;
      }
      button{
        border: 1px solid #000000;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #F2994A, #F2994A);
        opacity: 1.00;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4), inset 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        color: black;
        width: 100px;
        padding: 10px 5px;
      }
    }

    .welcome{
      position: absolute;
      left: 600px;
      top: 300px;
      color: white;
      font-size: 60px;
      width: 700px;
      text-align: center;
    }
  }

  table{
    padding: 30px;

    width: 600px;
    border-collapse: separate;
    background-image: url('/../../../assets/img/papyrus_roll.gif');
    background-size: 100% 100%;
    color: black;
    border: none;
    font-weight: bolder;

    &:hover{
      box-shadow: none;
    }

    th{
      font-size: 16px;
      height: 20px;
      margin-right: 5px;
      margin-bottom: 10px;
    }
    tr:hover {
      background: none;

    }
    .tableFooter{
      font-size: 12px;
      line-height: 12px;
      color: #434343;
    }
    .colorCol{
      width: 5%;
    }
    .playerCol{
      width: 15%;
    }
    .pyramidCol{

    }
    .templeCol{

    }
    .obeliskCol{

    }
    .burialChamberCol{
      width: 20%;
    }
    .totalCol{

    }
  }
}





