.scoreBoard-container {
  z-index: 7;
  height: auto;
  width: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 0;
  overflow: hidden; }
  .scoreBoard-container #ScoreBoardDropDownClicker {
    width: 80px; }
    .scoreBoard-container #ScoreBoardDropDownClicker #ScoreBoardDropDownClickerText {
      padding: 3px;
      text-align: center;
      background-color: #3d77ae;
      position: relative;
      top: 0;
      z-index: 10;
      cursor: pointer;
      border-radius: 0 0 10px 10px;
      color: white;
      font-size: 16px;
      border: 1px solid whitesmoke;
      border-top: none; }
      .scoreBoard-container #ScoreBoardDropDownClicker #ScoreBoardDropDownClickerText:hover {
        background-color: #449edc; }

.roundChange {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: -228px;
  width: 1367px;
  height: 768px;
  background-color: rgba(0, 0, 0, 0.8); }
  .roundChange .closeIcon {
    position: absolute;
    left: 979px;
    top: 65px; }
    .roundChange .closeIcon .fa-times-circle-o {
      font-size: 65px;
      color: grey; }
      .roundChange .closeIcon .fa-times-circle-o:hover {
        color: white;
        cursor: pointer !important; }
  .roundChange .tabInfo {
    position: absolute;
    left: 220px;
    top: 80px;
    color: #3d77ae;
    font-size: 20px;
    transform: rotate(-10deg); }
  .roundChange .content-wrapper {
    position: relative; }
    .roundChange .content-wrapper .content {
      margin: 80px auto 0 auto;
      width: 700px;
      color: white;
      text-align: center; }
      .roundChange .content-wrapper .content .bigRound {
        font-size: 60px; }
      .roundChange .content-wrapper .content .summaryTitle {
        font-size: 30px; }
      .roundChange .content-wrapper .content button {
        border: 1px solid #000000;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #F2994A, #F2994A);
        opacity: 1.00;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4), inset 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        color: black;
        width: 100px;
        padding: 10px 5px; }
    .roundChange .content-wrapper .welcome {
      margin: 30px auto 0 auto;
      color: white;
      font-size: 60px;
      width: 700px;
      text-align: center; }
  .roundChange table {
    padding: 40px;
    width: 700px;
    border-collapse: separate;
    background-image: url("/../../../assets/img/papyrus_roll.gif");
    background-size: 100% 100%;
    color: black;
    border: none;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: 20px; }
    .roundChange table:hover {
      box-shadow: none; }
    .roundChange table th, .roundChange table thead {
      font-size: 16px;
      height: 35px;
      margin-right: 5px;
      margin-bottom: 10px;
      text-align: center; }
    .roundChange table tr {
      height: 35px; }
      .roundChange table tr .scoreBoard-points .pointChanges {
        font-size: 10px;
        color: green; }
      .roundChange table tr .scoreBoard-points.total {
        font-size: 20px; }
      .roundChange table tr .BLACK {
        color: black; }
      .roundChange table tr .WHITE {
        color: whitesmoke; }
      .roundChange table tr .BROWN {
        color: #955050; }
      .roundChange table tr .GRAY {
        color: #808080; }
    .roundChange table td {
      text-align: center; }
    .roundChange table .tableFooter {
      font-size: 12px;
      line-height: 12px;
      color: #434343; }

/*# sourceMappingURL=score-board.component.css.map */
