<div id="" class="scoreBoard-container">
    <table>
        <thead>

            <th colspan="5">
                Score Board
            </th>

        </thead>
        <tbody>
        <tr *ngFor="let player of game.players" class="scoreBoardContent">
            <td class="scoreBoard-playerNumber">{{player.playerNumber}}</td>
            <td class="{{player.color != undefined ? player.color : ''}}" class="scoreBoard-playerColor"><i class="fa fa-square" aria-hidden="true"></i></td>
            <td class="scoreBoard-username">{{player.username}}</td>
            <td class="scoreBoard-points">{{player.points}}</td>
            <td class="scoreBoard-PointsString">Points</td>
        </tr>
        </tbody>
    </table>
</div>