<div class="lobby-container" [ngStyle]="{'background-image': 'url(' + '../../assets/img/world_map.jpg' + ')'}">

    <div class="row topRow" id="topRow">
        <div class="col-md-4">
        </div>

        <div class="col-md-4 lobbyGreeting">
            <h1>Game Lobby</h1>
        </div>

        <div class="col-md-4 loggedIn">
            <div class="loggedInUser">
                <i class="fa fa-user fa-fw"></i>
                {{user.username}}
                <i (click)="logout()" class="fa fa-sign-out" title="logout" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <div class="row" id="middleRow">
        <div class="col-md-4 createGame" [style.display]="hasJoined()">
            <div class="gameCreation papyrus_roll">
                <h2>Create a new game here</h2>
                <!--<h3>Game name:</h3>-->
                <input id="gameCreation" type="text" placeholder="game name" [(ngModel)]="newGame.name" (keyup.enter)="createGame()" autofocus>
                <button class="createGameButton" (click)="createGame()" [disabled]="isGameNameEmpty()">Create</button>
            </div>
        </div>

        <div class="col-md-4 createGame" *ngIf="joinedGame != undefined">
            <div class="gameOverview papyrus_roll">
                <h2>{{joinedGame.name}}</h2>
                <ul *ngFor="let player of joinedGame.players">
                    <li class="players"><i *ngIf="joinedGame.owner==player.username" class="fa fa-star" aria-hidden="true"></i> {{player.username}}</li>
                </ul>

                <div *ngIf="isOwner(joinedGame.owner)==false" class="waitingForPlayers">
                    Waiting for the owner to start the game..
                </div>

                <span *ngIf="isOwner(joinedGame.owner)==true && joinedGame.status=='PENDING'" class="joinedGameListButton">
                    <button [disabled]="!hasEnoughPlayers(joinedGame.numberOfPlayers) || joinedGame.status == 'RUNNING'" (click)="startGame(joinedGame)">start</button>
                </span>

                <div *ngIf="joinedGame.numberOfPlayers >= 2 && isOwner(joinedGame.owner)==true" class="startInfo">
                    select "start" to play Imhotep with {{joinedGame.numberOfPlayers}} players
                </div>
                <!--
                <span *ngIf="isOwner(joinedGame.owner)==false && joinedGame.status=='PENDING'" class="leaveGameButton">
                    <button [disabled]="joinedGame.status == 'RUNNING'" (click)="leaveGame(joinedGame)">Leave Game</button>
                </span>
                -->
            </div>
        </div>

        <div class="col-md-8 games papyrus_paper">
            <div class="gamesHeader">
                <div class="header-gameName">
                    Game Name
                </div>

                <div class="header-gameOwner">
                    Owner
                </div>

                <div class="header-amountOfPlayers">
                    #Players
                </div>

                <div class="header-action">
                </div>
            </div>

            <ul id="gameList">
                <li *ngFor="let game of games">
                    <div class="gameName">
                        <span *ngIf="game.status == 'PENDING'" class="gameStatusPending">{{game.status}}</span>
                        <span *ngIf="game.status == 'RUNNING'" class="gameStatusRunning">{{game.status}}</span>
                        {{game.name}}
                    </div>

                    <div class="gameOwner">
                        {{game.owner}}
                    </div>

                    <div class="amountOfPlayers">
                        {{game.numberOfPlayers}}/4
                    </div>

                    <div class="gameListButton">
                        <span *ngIf="game.status=='RUNNING'">
                            <button [disabled]="game.status=='RUNNING'" id="Running" class="gameRunning">running</button>
                        </span>

                        <span *ngIf="isOwner(game.owner)==false && game.status=='PENDING'">
                            <button (click)="joinGame(game)" id="Join" [disabled]="!isJoinable(game.status) || game.numberOfPlayers > 3 || joinedGame!=undefined">join</button>
                        </span>

                        <!--
                        <span *ngIf="isOwner(game.owner)==true && game.status=='PENDING'">
                            <button [disabled]="!hasEnoughPlayers(game.numberOfPlayers) || game.status == 'RUNNING'" id="Start" (click)="startGame(game)">start</button>
                        </span>
                        -->
                    </div>
                </li>
            </ul>

            <div *ngIf="hasNoGames(games)">
                <div id="noGamesMessage">
                    <i class="fa fa-frown-o" aria-hidden="true"></i> It's so empty in here...could you please create a game?
                </div>
            </div>

            <div class="gamesHeader-bottom">
                <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="footer">
            <i class="fa fa-copyright" aria-hidden="true"> </i> Hackerz 2017
        </div>
    </div>
</div>
