<div id="" class="notificationBoard-container">

    <div id="notificationBoardDropDownClicker">
        what happened
    </div>

    <div id="notifications">
        <div *ngFor="let message of gameMessages" id="message{{message.id}}" class="message"
             [ngClass]="{blackMessage: message.playerNr == 1,
             whiteMessage: message.playerNr == 2,
             redMessage: message.playerNr == 3,
             greyMessage: message.playerNr == 4}"
             (mouseenter)="showMoveDetails(message)" (mouseleave)="hideMoveDetails(message)">

            <div class="iconBackground">
            </div>
            <div class="messageText">
                {{message.description}}
            </div>
            <span *ngIf="message.id == gameMessages[0].id" class="newest">
                newest
            </span>
            <span *ngIf="message.moveType == 'GET_CARD'" class="subround">
                subround
            </span>
            <span *ngIf="message.moveType == 'SAIL_SHIP'" class="icon shipIcon">

            </span>
            <span *ngIf="message.moveType == 'PLACE_STONE'" class="icon stoneIcon">

            </span>
            <span *ngIf="message.moveType == 'GET_STONES'" class="icon quarryIcon">

            </span>
            <span *ngIf="message.moveType == 'GET_CARD'" class="icon cardIcon">

            </span>

        </div>
    </div>

</div>

<div *ngIf="showMove" class="blurScreen">

    <div *ngIf="detailMove.moveType == 'SAIL_SHIP'" class="sailMoveDetail">
        <span class="shipIcon">

        </span>
        <span class="wavesIcon">

        </span>
        <span class="siteIcon">

        </span>

    </div>

    <div *ngIf="detailMove.moveType == 'GET_CARD'" class="getCardMoveDetail">
        <div class="marketCard CHISEL">
            <span class="receivedCard">
                picked
            </span>
            <span class="blur">

            </span>
        </div>
    </div>


</div>

<div *ngIf="lastMove?.description!=undefined" id="lastMovePopup" (mouseenter)="displayPopup(lastMove)" (mouseleave)="hidePopup(lastMove)" class="updated">
    <div >
        {{lastMove?.description}}
    </div>
</div>




