body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ebebeb;
  font-size: 100%;
  font-family: inherit;
}

h1, h2 {
  text-align: center;
  color: white;
  font-weight: 600;
  font-style: normal;
  text-shadow: 2px 2px gray;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  margin-top: 10px;
}

h3 {
  font-weight: 900;
  font-size: 3rem;
}

p {
  font-weight: 900;
  font-size: 130%;
}

.login-container {
  padding-top: 225px;
  width: 100%;
  height: 100%;
  /*background: lightgray url('../../assets/img/imhotep.jpg');*/

  .login-panel {
    margin-left: 70px;

    .form-signin {
      margin: 0 auto;
      border-radius: 5px;
      padding: 45px 35px;
      width: 380px;

      .form-signin-heading {
        margin-top: 13px;
        margin-bottom: 5px;
      }

      .form-signin-description {
        color: #000000;
        font-style: italic;
      }

      .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;

        &:focus {
          z-index: 2;
          border-color: #e5841f;
        }
      }

      #user {
        margin-bottom: 5px;
      }


      .error {
        color: red;
        font-weight: bold;
        font-size: 105%;
        margin-bottom: 0;
      }

      /* loading symbol on the bottom */
      #loading {
        display: none;
        margin-top: 10px;
        text-align: center;
      }

      #loading.show {
        display: block;
      }
    }
  }
}

.papyrus_roll {
  background-image: url('/../../assets/img/papyrus_roll.gif');
  background-size: 100% 100%;
}

/* override bootstrap buttons */
.btn {
  border: 1px solid #000000;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #F2994A, #F2994A);
  opacity: 1.00;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-bottom: 15px;

  &:disabled {
    background: #ccc none;
    color: #666;
  }

  &:hover {
    background-color: #e5841f;
  }
}
