<div class="winning-screen-container" [ngStyle]="{'background-image': 'url(' + '../../assets/img/world_map.jpg' + ')'}"
     xmlns="http://www.w3.org/1999/html">

    <div class="content-wrapper">
        <div class="content">
            <div class="summaryTitle">Game Summary</div>
            <table>
                <thead class="pointsOverviewTableHead">
                <th class="playerCol">
                    <span class="playerIcon"></span>
                </th>
                <th class="pyramidCol">
                    <div class="pyramidCol-outer">
                        <span class="pyramidIcon"></span>
                    </div>

                </th>
                <th class="templeCol">
                    <div class="templeCol-outer">
                        <span class="templeIcon"></span>
                    </div>
                </th>
                <th class="obeliskCol">
                    <div class="obeliskCol-outer">
                        <span class="obeliskIcon"></span>
                    </div>
                </th>
                <th class="burialChamberCol">
                    <div class="burialChamberCol-outer">
                        <span class="burialChamberIcon"></span>
                    </div>
                </th>
                <th class="marketCardsCol">
                    <div class="marketCardsCol-outer">
                        <span class="cardIcon"></span>
                    </div>
                </th>
                <th class="totalCol">
                    Total
                </th>

                </thead>
                <tbody>
                <tr *ngFor="let player of savedPlayers">
                    <td class="scoreBoard-username"><i class="fa fa-user {{player.color}}" aria-hidden="true"></i> {{player.username}}</td>
                    <td class="scoreBoard-points">{{player.points[0]}}
                    </td>
                    <td class="scoreBoard-points">{{player.points[1]}}
                    </td>
                    <td class="scoreBoard-points">{{player.points[2]}}
                    </td>
                    <td class="scoreBoard-points">{{player.points[3]}}
                    </td>
                    <td class="scoreBoard-points">{{player.points[4]}}
                    </td>
                    <td class="scoreBoard-points">{{player.points[5]}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="returnToLobbyButton">
        <button (click)="deleteGame(game)">
            Return to Lobby
        </button>
    </div>
</div>
