.winning-screen-container {
  position: relative;
  padding-top: 0;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-weight: 600;
  font-style: normal;
  font-size: 20px; }
  .winning-screen-container .content-wrapper {
    position: relative; }
    .winning-screen-container .content-wrapper .content {
      color: white;
      text-align: center; }
      .winning-screen-container .content-wrapper .content .bigRound {
        font-size: 60px; }
      .winning-screen-container .content-wrapper .content .winner-outer {
        margin-top: 90px; }
        .winning-screen-container .content-wrapper .content .winner-outer .winner-text {
          font-size: 45px;
          color: green;
          padding: 5px 10px;
          background-color: rgba(0, 0, 0, 0.6);
          border-radius: 10px;
          margin: auto;
          margin-top: 40px; }
      .winning-screen-container .content-wrapper .content .loser-outer {
        margin-top: 90px; }
        .winning-screen-container .content-wrapper .content .loser-outer .loser-text {
          font-size: 45px;
          color: red;
          padding: 5px 10px;
          background-color: rgba(0, 0, 0, 0.6);
          border-radius: 10px;
          margin: auto;
          margin-top: 40px; }
      .winning-screen-container .content-wrapper .content button {
        border: 1px solid #000000;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #F2994A, #F2994A);
        opacity: 1.00;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4), inset 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        color: black;
        width: 100px;
        padding: 10px 5px; }
    .winning-screen-container .content-wrapper .welcome {
      margin: 30px auto 0 auto;
      color: white;
      font-size: 60px;
      width: 700px;
      text-align: center; }
  .winning-screen-container table {
    position: relative;
    padding: 40px;
    padding-bottom: 60px;
    padding-top: 80px;
    width: 80%;
    border-collapse: separate;
    border-radius: 10px;
    color: white;
    margin: auto;
    margin-top: 15px;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.71); }
    .winning-screen-container table:hover {
      box-shadow: none; }
    .winning-screen-container table .gameName {
      position: absolute;
      left: 0;
      top: 15px;
      width: 100%;
      font-size: 30px;
      color: antiquewhite; }
    .winning-screen-container table th, .winning-screen-container table thead {
      font-size: 24px;
      height: 80px;
      margin-right: 5px;
      margin-bottom: 10px;
      text-align: center; }
    .winning-screen-container table tr {
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-size: 30px; }
      .winning-screen-container table tr .scoreBoard-trophy {
        width: 3%; }
        .winning-screen-container table tr .scoreBoard-trophy .scoreBoard-trophy-icon {
          position: relative; }
          .winning-screen-container table tr .scoreBoard-trophy .scoreBoard-trophy-icon .fa {
            position: absolute;
            left: 0;
            top: 15px;
            color: gold; }
      .winning-screen-container table tr .scoreBoard-username {
        position: relative;
        font-size: 24px; }
        .winning-screen-container table tr .scoreBoard-username .WHITE {
          padding: 3px 5px;
          background-color: white;
          border-radius: 5px;
          color: black;
          min-width: 50px;
          border: 1px solid black; }
        .winning-screen-container table tr .scoreBoard-username .BLACK {
          padding: 3px 5px;
          background-color: black;
          border-radius: 5px;
          color: white;
          border: 1px solid white; }
        .winning-screen-container table tr .scoreBoard-username .GRAY {
          padding: 3px 5px;
          background-color: grey;
          border-radius: 5px;
          color: black;
          border: 1px solid black; }
        .winning-screen-container table tr .scoreBoard-username .BROWN {
          padding: 3px 5px;
          background-color: brown;
          border-radius: 5px;
          color: white;
          border: 1px solid white; }
      .winning-screen-container table tr .scoreBoard-points .pointChanges {
        font-size: 10px;
        color: green; }
      .winning-screen-container table tr .scoreBoard-points.total {
        font-size: 20px; }
      .winning-screen-container table tr .BLACK {
        color: black; }
      .winning-screen-container table tr .WHITE {
        color: whitesmoke; }
      .winning-screen-container table tr .BROWN {
        color: #955050; }
      .winning-screen-container table tr .GRAY {
        color: #808080; }
    .winning-screen-container table td {
      border-bottom: 1px solid grey;
      text-align: center; }
    .winning-screen-container table .tableFooter {
      font-size: 12px;
      line-height: 12px;
      color: #434343; }
    .winning-screen-container table .playerCol {
      position: relative;
      height: 50px;
      width: 14.23%; }
      .winning-screen-container table .playerCol .playerCol-outer {
        position: absolute;
        left: 40px;
        top: 5px;
        height: 70px;
        width: 70px;
        background-color: deepskyblue;
        padding: 5px;
        border-radius: 5px; }
        .winning-screen-container table .playerCol .playerCol-outer .playerIcon {
          position: absolute;
          left: 10px;
          top: 15px;
          height: 50px;
          width: 50px;
          background-size: 100% 100%; }
          .winning-screen-container table .playerCol .playerCol-outer .playerIcon .fa-user {
            font-size: 40px;
            color: black; }
    .winning-screen-container table .pyramidCol {
      position: relative;
      height: 50px;
      width: 14.23%; }
      .winning-screen-container table .pyramidCol .pyramidCol-outer {
        position: absolute;
        left: 40px;
        top: 5px;
        height: 70px;
        width: 70px;
        background-color: deepskyblue;
        padding: 5px;
        border-radius: 5px; }
        .winning-screen-container table .pyramidCol .pyramidCol-outer .pyramidIcon {
          position: absolute;
          left: 10px;
          top: 10px;
          height: 50px;
          width: 50px;
          background: url("/../../assets/img/texture/pyramid_icon.png");
          background-size: 100% 100%;
          cursor: help; }
    .winning-screen-container table .templeCol {
      position: relative;
      height: 50px;
      width: 14.23%; }
      .winning-screen-container table .templeCol .templeCol-outer {
        position: absolute;
        left: 40px;
        top: 5px;
        height: 70px;
        width: 70px;
        background-color: deepskyblue;
        padding: 5px;
        border-radius: 5px; }
        .winning-screen-container table .templeCol .templeCol-outer .templeIcon {
          position: absolute;
          left: 10px;
          top: 10px;
          height: 50px;
          width: 50px;
          background: url("/../../assets/img/texture/temple_icon.png");
          background-size: 100% 100%;
          cursor: help; }
    .winning-screen-container table .obeliskCol {
      position: relative;
      height: 50px;
      width: 14.23%; }
      .winning-screen-container table .obeliskCol .obeliskCol-outer {
        position: absolute;
        left: 40px;
        top: 5px;
        height: 70px;
        width: 70px;
        background-color: deepskyblue;
        padding: 5px;
        border-radius: 5px; }
        .winning-screen-container table .obeliskCol .obeliskCol-outer .obeliskIcon {
          position: absolute;
          left: 10px;
          top: 10px;
          height: 50px;
          width: 50px;
          background: url("/../../assets/img/texture/obelisk_icon.png");
          background-size: 100% 100%;
          cursor: help; }
    .winning-screen-container table .burialChamberCol {
      position: relative;
      height: 50px;
      width: 14.23%; }
      .winning-screen-container table .burialChamberCol .burialChamberCol-outer {
        position: absolute;
        left: 40px;
        top: 5px;
        height: 70px;
        width: 70px;
        background-color: deepskyblue;
        padding: 5px;
        border-radius: 5px; }
        .winning-screen-container table .burialChamberCol .burialChamberCol-outer .burialChamberIcon {
          position: absolute;
          left: 10px;
          top: 10px;
          height: 50px;
          width: 50px;
          background: url("/../../assets/img/texture/burial_chamber_icon.png");
          background-size: 100% 100%;
          cursor: help; }
    .winning-screen-container table .marketCardsCol {
      position: relative;
      height: 50px;
      width: 14.23%; }
      .winning-screen-container table .marketCardsCol .marketCardsCol-outer {
        position: absolute;
        left: 40px;
        top: 5px;
        height: 70px;
        width: 70px;
        background-color: deepskyblue;
        padding: 5px;
        border-radius: 5px; }
        .winning-screen-container table .marketCardsCol .marketCardsCol-outer .cardIcon {
          position: absolute;
          left: 10px;
          top: 10px;
          height: 50px;
          width: 50px;
          background: url("/../../assets/img/marketCards/card_icon.png");
          background-size: 100% 100%;
          cursor: help; }
    .winning-screen-container table .totalCol {
      width: 14.23%;
      font-size: 35px; }

.returnToLobbyButton {
  position: absolute;
  left: 580px;
  bottom: 35px;
  font-size: 24px; }
  .returnToLobbyButton button {
    border: 1px solid #000000;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #F2994A, #F2994A);
    opacity: 1.00;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4), inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 190px;
    height: 55px;
    color: black;
    margin-bottom: 5px; }

.loggedInUser {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  height: 50px;
  margin: 10px 20px 10px 215px;
  border-radius: 4px;
  font-size: 20px;
  padding: 10px;
  background-color: #4C1803;
  color: whitesmoke;
  opacity: 0.9; }
  .loggedInUser:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19); }
  .loggedInUser .userName {
    margin: 0 15px 0 10px; }
  .loggedInUser .fa {
    margin-top: 4px; }
    .loggedInUser .fa.fa-user {
      float: left; }
    .loggedInUser .fa.fa-sign-out {
      float: right; }
      .loggedInUser .fa.fa-sign-out:hover {
        cursor: pointer;
        color: #ff501b; }

/*# sourceMappingURL=winning-screen.component.css.map */
