<div class="game-container ">
    <div class="row ">
        <!-- sled column -->
        <div class="col-md-2 align-self-end sleds-container">
            <div class="row">
                <div *ngFor="let player of game.players">
                    <div *ngIf="player.color=='BLACK' " class="blackSled" id="supplySled1">
                        <supply-sled
                                [NR]="1"
                                [COLOR]="'BLACK'"
                                [(ROUND_NR)]="round"
                                [(IS_SUB_ROUND)]="isSubRound"
                                [(CURRENT_PLAYER)]="currentPlayer"
                                [(CURRENT_SUB_ROUND_PLAYER)]="currentSubRoundPlayer"
                                [(IS_MY_TURN)]="isMyTurn"
                                [(NUMBER_OF_FREE_SHIPS_PLACES)]="numberOfFreeShipPlaces"
                                [(NUMBER_OF_SHIPS_READY_TO_SAIL)]="numberOfShipsReadyToSail"
                                (IS_PLAYING_CARD)="isPlayingCard($event)"
                                (CARD_ID)="cardId($event)"
                                (CARD_TYPE)="cardType($event)">
                        </supply-sled>
                    </div>
                    <div *ngIf="player.color=='WHITE'" class="whiteSled" id="supplySled2">
                        <supply-sled
                                [NR]="2"
                                [COLOR]="'WHITE'"
                                [(ROUND_NR)]="round"
                                [(IS_SUB_ROUND)]="isSubRound"
                                [(CURRENT_PLAYER)]="currentPlayer"
                                [(CURRENT_SUB_ROUND_PLAYER)]="currentSubRoundPlayer"
                                [(IS_MY_TURN)]="isMyTurn"
                                [(NUMBER_OF_FREE_SHIPS_PLACES)]="numberOfFreeShipPlaces"
                                [(NUMBER_OF_SHIPS_READY_TO_SAIL)]="numberOfShipsReadyToSail"
                                (IS_PLAYING_CARD)="isPlayingCard($event)"
                                (CARD_ID)="cardId($event)"
                                (CARD_TYPE)="cardType($event)">
                        </supply-sled>
                    </div>
                    <div *ngIf="player.color=='BROWN' " class="graySled" id="supplySled3">
                        <supply-sled
                                [NR]="3"
                                [COLOR]="'BROWN'"
                                [(ROUND_NR)]="round"
                                [(IS_SUB_ROUND)]="isSubRound"
                                [(CURRENT_PLAYER)]="currentPlayer"
                                [(CURRENT_SUB_ROUND_PLAYER)]="currentSubRoundPlayer"
                                [(IS_MY_TURN)]="isMyTurn"
                                [(NUMBER_OF_FREE_SHIPS_PLACES)]="numberOfFreeShipPlaces"
                                [(NUMBER_OF_SHIPS_READY_TO_SAIL)]="numberOfShipsReadyToSail"
                                (IS_PLAYING_CARD)="isPlayingCard($event)"
                                (CARD_ID)="cardId($event)"
                                (CARD_TYPE)="cardType($event)">
                        </supply-sled>
                    </div>
                    <div *ngIf="player.color=='GRAY' " class="brownSled" id="supplySled4">
                        <supply-sled
                                [NR]="4"
                                [COLOR]="'GRAY'"
                                [(ROUND_NR)]="round"
                                [(IS_SUB_ROUND)]="isSubRound"
                                [(CURRENT_PLAYER)]="currentPlayer"
                                [(CURRENT_SUB_ROUND_PLAYER)]="currentSubRoundPlayer"
                                [(IS_MY_TURN)]="isMyTurn"
                                [(NUMBER_OF_FREE_SHIPS_PLACES)]="numberOfFreeShipPlaces"
                                [(NUMBER_OF_SHIPS_READY_TO_SAIL)]="numberOfShipsReadyToSail"
                                (IS_PLAYING_CARD)="isPlayingCard($event)"
                                (CARD_ID)="cardId($event)"
                                (CARD_TYPE)="cardType($event)">
                        </supply-sled>
                    </div>
                </div>
            </div>
        </div><!-- sled column -->


        <!-- game column -->
        <div class="col-md-10 gameBoard-container">
            <score-board
                    [(ROUND)]="round"
                    [(IS_SUB_ROUND)]="isSubRound"
                    [(STATUS)]="gameStatus"
                    (goToWinningScreen)="changeToWinningScreen($event)">
            </score-board>
            <div id="gameInformation">
                <div class="gameName">
                    {{game.name}}
                </div>

                <div class="roundCounter">
                    <span style="font-weight: bold;">Round</span> <span style="color:#ff1f1f">{{round}}</span>/6
                </div>

                <div *ngIf="isSubRound" class="subRoundIndicator" title="Sub round is running!">
                    <div>
                        <span class="cardIcon"></span>
                        <i class="fa fa-undo" aria-hidden="true"></i>
                    </div>
                </div>
                <div *ngIf="isSubRound && isMySubRoundTurn" class="subRoundInformation">
                    <span class="playerName">{{game.players[currentSubRoundPlayer-1]?.username}}</span>
                    <br>
                    it's your turn to pick a market card
                </div>

                <div *ngIf="isPlayingMarketCard" id="playCardInformation">
                    <span class="playerName">{{game.players[currentSubRoundPlayer-1]?.username}}</span>
                    <br>
                    <div *ngIf="playingMarketCardType == 'CHISEL'" class="playCardInformationText">
                        place 2 stones on 1 ship or 1 stone on each of 2 ships
                    </div>
                    <div *ngIf="playingMarketCardType == 'LEVER'" class="playCardInformationText">
                        click on any highlighted ship to rearrange its stones and sail it to a site
                    </div>
                    <div *ngIf="playingMarketCardType == 'HAMMER'" class="playCardInformationText">
                        after placing a stone on a ship you will get stones from your quarry
                    </div>
                    <div *ngIf="playingMarketCardType == 'SAIL'" class="playCardInformationText">
                        place a stone on a free space <br> and then sail the ship to a site
                    </div>
                </div>
            </div>


            <notification-board [(ROUND)]="round">

            </notification-board>

            <div>
                <harbor
                        [(ROUND)]="round"
                        [(IDS)]="shipId"
                        [(IS_MY_TURN)]="isMyTurn"
                        [(IS_SUB_ROUND)]="isSubRound"
                        [(IS_MY_SUBROUND_TURN)]="isMySubRoundTurn"
                        [(IS_PLAYING_CARD)]="isPlayingMarketCard"
                        [(CARD_ID)]="playingMarketCardID"
                        [(CARD_TYPE)]="playingMarketCardType"
                        (SHIP_WANTS_TO_SAIL)="handleShipDragging($event)">
                </harbor>
            </div>

            <market-place
                    [(IS_SUB_ROUND)]="isSubRound"
                    [(IS_MY_SUB_ROUND_TURN)]="isMySubRoundTurn"
                    [(CURRENT_SUB_ROUND_PLAYER)]="currentSubRoundPlayer"
                    [(SHIP_WANTS_TO_SAIL)]="shipWantsToSail"
                    [(ROUND)]="round"
                    [(IS_PLAYING_CARD)]="isPlayingMarketCard"
                    [(CARD_ID)]="playingMarketCardID"
                    [(CARD_TYPE)]="playingMarketCardType">
            </market-place>

            <temple
                    [(SHIP_WANTS_TO_SAIL)]="shipWantsToSail"
                    [(ROUND)]="round"
                    [(IS_PLAYING_CARD)]="isPlayingMarketCard"
                    [(CARD_ID)]="playingMarketCardID"
                    [(CARD_TYPE)]="playingMarketCardType">
            </temple>

            <pyramid
                    [(SHIP_WANTS_TO_SAIL)]="shipWantsToSail"
                    [(ROUND)]="round"
                    [(IS_PLAYING_CARD)]="isPlayingMarketCard"
                    [(CARD_ID)]="playingMarketCardID"
                    [(CARD_TYPE)]="playingMarketCardType">
            </pyramid>

            <obelisk
                    [(SHIP_WANTS_TO_SAIL)]="shipWantsToSail"
                    [(ROUND)]="round"
                    [(IS_PLAYING_CARD)]="isPlayingMarketCard"
                    [(CARD_ID)]="playingMarketCardID"
                    [(CARD_TYPE)]="playingMarketCardType">

            </obelisk>

            <burial-chamber
                    [(SHIP_WANTS_TO_SAIL)]="shipWantsToSail"
                    [(ROUND)]="round"
                    [(IS_PLAYING_CARD)]="isPlayingMarketCard"
                    [(CARD_ID)]="playingMarketCardID"
                    [(CARD_TYPE)]="playingMarketCardType">
            </burial-chamber>

            <div id="manuals">
                <p>Manual</p>
                <input class="pdf-container" type="button" value="EN" onClick="window.open('../assets/pdf/Imhotep_Manual_EN.pdf');">
                <input class="pdf-container" type="button" value="DE" onClick="window.open('../assets/pdf/Imhotep_Manual_DE.pdf');">
            </div>


        </div><!-- game column -->
    </div>
</div>
