.game-container{
    font-family: 'CretanHieroglyphsRegular';
}


.row {
    margin: 0;
}

.col-md-3, .col-md-6, .col-md-12 {
    padding: 0;
}

.gameMessage{
    width: 100%;
    font-size: 18px;
    border: 1px solid black;
    background-color: burlywood;
}

.round {
    padding: 5px;

    text-align: center;
    font-size: 2rem;
}

.playerName {
    text-align: center;
}

.playerName.currentPlayer {
    color: red;
}

.water {
    background: url('../../assets/img/texture/texture_water.jpg');
}