<div class="game-container ">
    <div class="row ">
        <!-- sled column -->
        <div class="col-md-2 align-self-end sleds-container">
            <div class="row">
                <div *ngFor="let player of game.players">
                    <div *ngIf="player.color=='BLACK' " class="blackSled">
                        <supply-sled
                                [NR]="1"
                                [COLOR]="'BLACK'"
                                [(ROUND_NR)]="round"
                                [(IS_SUB_ROUND)]="isSubRound"
                                [(CURRENT_PLAYER)]="currentPlayer"
                                [(CURRENT_SUB_ROUND_PLAYER)]="currentSubRoundPlayer"
                                [(IS_MY_TURN)]="isMyTurn"
                                [(NUMBER_OF_FREE_SHIPS_PLACES)]="numberOfFreeShipPlaces"
                                [(NUMBER_OF_SHIPS_READY_TO_SAIL)]="numberOfShipsReadyToSail"
                                (IS_PLAYING_CARD)="isPlayingCard($event)"
                                (CARD_ID)="cardId($event)"
                                (CARD_TYPE)="cardType($event)">
                        </supply-sled>
                    </div>
                    <div *ngIf="player.color=='WHITE'" class="whiteSled">
                        <supply-sled
                                [NR]="2"
                                [COLOR]="'WHITE'"
                                [(ROUND_NR)]="round"
                                [(IS_SUB_ROUND)]="isSubRound"
                                [(CURRENT_PLAYER)]="currentPlayer"
                                [(CURRENT_SUB_ROUND_PLAYER)]="currentSubRoundPlayer"
                                [(IS_MY_TURN)]="isMyTurn"
                                [(NUMBER_OF_FREE_SHIPS_PLACES)]="numberOfFreeShipPlaces"
                                [(NUMBER_OF_SHIPS_READY_TO_SAIL)]="numberOfShipsReadyToSail"
                                (IS_PLAYING_CARD)="isPlayingCard($event)"
                                (CARD_ID)="cardId($event)"
                                (CARD_TYPE)="cardType($event)">
                        </supply-sled>
                    </div>
                    <div *ngIf="player.color=='BROWN' " class="graySled">
                        <supply-sled
                                [NR]="3"
                                [COLOR]="'BROWN'"
                                [(ROUND_NR)]="round"
                                [(IS_SUB_ROUND)]="isSubRound"
                                [(CURRENT_PLAYER)]="currentPlayer"
                                [(CURRENT_SUB_ROUND_PLAYER)]="currentSubRoundPlayer"
                                [(IS_MY_TURN)]="isMyTurn"
                                [(NUMBER_OF_FREE_SHIPS_PLACES)]="numberOfFreeShipPlaces"
                                [(NUMBER_OF_SHIPS_READY_TO_SAIL)]="numberOfShipsReadyToSail"
                                (IS_PLAYING_CARD)="isPlayingCard($event)"
                                (CARD_ID)="cardId($event)"
                                (CARD_TYPE)="cardType($event)">
                        </supply-sled>
                    </div>
                    <div *ngIf="player.color=='GRAY' " class="brownSled">
                        <supply-sled
                                [NR]="4"
                                [COLOR]="'GRAY'"
                                [(ROUND_NR)]="round"
                                [(IS_SUB_ROUND)]="isSubRound"
                                [(CURRENT_PLAYER)]="currentPlayer"
                                [(CURRENT_SUB_ROUND_PLAYER)]="currentSubRoundPlayer"
                                [(IS_MY_TURN)]="isMyTurn"
                                [(NUMBER_OF_FREE_SHIPS_PLACES)]="numberOfFreeShipPlaces"
                                [(NUMBER_OF_SHIPS_READY_TO_SAIL)]="numberOfShipsReadyToSail"
                                (IS_PLAYING_CARD)="isPlayingCard($event)"
                                (CARD_ID)="cardId($event)"
                                (CARD_TYPE)="cardType($event)">
                        </supply-sled>
                    </div>
                </div>
            </div>
        </div><!-- sled column -->


        <!-- game column -->
        <div class="col-md-10 gameBoard-container">
            <score-board
                    [(ROUND)]="round"
                    [(IS_SUB_ROUND)]="isSubRound"
                    [(STATUS)]="gameStatus">
            </score-board>

            <div>
                <harbor
                        [(ROUND)]="round"
                        [(IDS)]="shipId"
                        [(IS_MY_TURN)]="isMyTurn"
                        [(IS_SUB_ROUND)]="isSubRound"
                        [(IS_MY_SUBROUND_TURN)]="isMySubRoundTurn"
                        [(IS_PLAYING_CARD)]="isPlayingMarketCard"
                        [(CARD_ID)]="playingMarketCardID"
                        [(CARD_TYPE)]="playingMarketCardType"
                        (SHIP_WANTS_TO_SAIL)="handleShipDragging($event)">
                </harbor>
            </div>

            <market-place
                    [(IS_SUB_ROUND)]="isSubRound"
                    [(IS_MY_SUB_ROUND_TURN)]="isMySubRoundTurn"
                    [(CURRENT_SUB_ROUND_PLAYER)]="currentSubRoundPlayer"
                    [(SHIP_WANTS_TO_SAIL)]="shipWantsToSail"
                    [(ROUND)]="round"
                    [(IS_PLAYING_CARD)]="isPlayingMarketCard"
                    [(CARD_ID)]="playingMarketCardID"
                    [(CARD_TYPE)]="playingMarketCardType">
            </market-place>

            <temple
                    [(SHIP_WANTS_TO_SAIL)]="shipWantsToSail"
                    [(ROUND)]="round"
                    [(IS_PLAYING_CARD)]="isPlayingMarketCard"
                    [(CARD_ID)]="playingMarketCardID"
                    [(CARD_TYPE)]="playingMarketCardType">
            </temple>

            <pyramid
                    [(SHIP_WANTS_TO_SAIL)]="shipWantsToSail"
                    [(ROUND)]="round"
                    [(IS_PLAYING_CARD)]="isPlayingMarketCard"
                    [(CARD_ID)]="playingMarketCardID"
                    [(CARD_TYPE)]="playingMarketCardType">
            </pyramid>

            <obelisk
                    [(SHIP_WANTS_TO_SAIL)]="shipWantsToSail"
                    [(ROUND)]="round"
                    [(IS_PLAYING_CARD)]="isPlayingMarketCard"
                    [(CARD_ID)]="playingMarketCardID"
                    [(CARD_TYPE)]="playingMarketCardType">

            </obelisk>

            <burial-chamber
                    [(SHIP_WANTS_TO_SAIL)]="shipWantsToSail"
                    [(ROUND)]="round"
                    [(IS_PLAYING_CARD)]="isPlayingMarketCard"
                    [(CARD_ID)]="playingMarketCardID"
                    [(CARD_TYPE)]="playingMarketCardType">
            </burial-chamber>

          <input class="pdf-container" type="button" value="Manual" onClick="window.open('../assets/Imhotep_Manual.pdf');">

        </div><!-- game column -->

        <div class="testData-container">
            <!--
            <div class="loggedInPlayers-container">
                <span class="currentGame">Game: {{game.id}}</span>
                <div *ngFor="let player of game.players" class="loggedInPlayers">
                    <p>Username: {{player.username}}, PlayerID: {{player.id}}</p>
                    <p>PlayerNr: {{player.playerNumber}}, Color: {{player.color}}</p>
                </div>
            </div>

            <div class="winningScreen-container">
                <button (click)="changeToWinningScreen()">
                    Winning-Screen
                </button>
            </div>
                <div class="dummyDataCreation-container">
                    <button (click)="createDummyStones()">
                        Stones
                    </button>
                </div>

                <div>
                    <button (click)="createDummyCard('HAMMER')">HAMMER</button>
                </div>
                <div>
                    <button (click)="createDummyCard('CHISEL')">CHISEL</button>
                </div>
                <div>
                    <button (click)="createDummyCard('SAIL')">SAIL</button>
                </div>
                <div>
                    <button (click)="createDummyCard('LEVER')">LEVER</button>
                </div>
-->


        </div>
    </div>
</div>
