.game-container{
    width: 100%;
    height: 100%;

    font-family: 'CretanHieroglyphsRegular';
}

.testData-container{
    height: 528px;
}

.loggedInPlayers-container{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 20px;
    top: 300px;
}

.loggedInPlayers{
    background-color: saddlebrown;
    color:whitesmoke;
    padding: 5px;
}

.currentGame{
    background-color: firebrick;
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

.dummyDataCreation-container{
    height: 100px;
    line-height: 100px;
    text-align: center;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.dummyDataCreation-container button{
    border: 1px solid #000000;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #F2994A, #F2994A);
    opacity: 1.00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: black;
}


.row {
    margin: 0;
}

.col-md-3, .col-md-6, .col-md-12 {
    padding: 0;
}

.gameMessage{
    width: 100%;
    font-size: 18px;
    border: 1px solid black;
    background-color: burlywood;
}

.round {
    padding: 5px;

    text-align: center;
    font-size: 2rem;
}

.playerName {
    text-align: center;
}

.playerName.currentPlayer {
    color: red;
}

.water {
    background: url('../../assets/img/texture/texture_water.jpg');
    position: relative;
}
.sand {
    background-size: 100% 100%;
    background: url('../../assets/img/texture/texture_sand.jpg');
}