.game-container {
  width: 100%;
  height: 100%;
  font-family: 'CretanHieroglyphsRegular', sans-serif;
  background: #525252 url('../../assets/img/texture/gameBoard.png') no-repeat;
  background-size: 100% 100%;
  position: relative;

  .roundChange {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.61);

    .content-wrapper {

      .content {
        position: relative;
        margin: 200px auto;
        width: 400px;

        color: white;
        text-align: center;
      }
    }
  }



  .sleds-container {
    height: 768px;

    .blackSled {
      position: absolute;
      top: 20px;
      left: 10px;
    }

    .whiteSled {
      position: absolute;
      top: 200px;
      left: 10px;
    }

    .graySled {
      position: absolute;
      bottom: 210px;
      left: 10px;
    }

    .brownSled {
      position: absolute;
      bottom: 20px;
      left: 10px;
    }
  }


  .gameBoard-container {
    position: relative;
    height: 768px;

  }
}


.testData-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

.loggedInPlayers-container {
  width: 200px;
  margin-left: auto;
  margin-right: auto;

}

.loggedInPlayers {
  background-color: saddlebrown;
  color: whitesmoke;
  padding: 5px;
}

.currentGame {
  background-color: firebrick;
  color: whitesmoke;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
}

.dummyDataCreation-container {
  text-align: center;
}

.dummyDataCreation-container button {
  border: 1px solid #000000;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #F2994A, #F2994A);
  opacity: 1.00;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: black;
}

.winningScreen-container {
  text-align: center;
}

.winningScreen-container button {
  border: 1px solid #000000;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #F2994A, #F2994A);
  opacity: 1.00;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: black;
}

.row {
  margin: 0;
}

.col-md-3, .col-md-6, .col-md-12 {
  padding: 0;
}

.gameMessage {
  width: 100%;
  font-size: 18px;
  border: 1px solid black;
  background-color: burlywood;
}
