<div class="game-container ">
    <div class="row ">
        <div class="col-md-2 align-self-end sleds-container">
            <div class="row">
                <div *ngFor="let player of game.players">
                    <div *ngIf="player.color=='BLACK' " class="blackSled">
                        <supply-sled
                                [nr]="1"
                                [color]="'BLACK'"
                                [(roundNr)]="round"
                                [(currentPlayer)]="currentPlayer">
                        </supply-sled>
                    </div>
                    <div *ngIf="player.color=='WHITE'" class=" whiteSled">
                        <supply-sled
                                [nr]="2"
                                [color]="'WHITE'"
                                [(roundNr)]="round"
                                [(currentPlayer)]="currentPlayer">

                        </supply-sled>
                    </div>
                    <div *ngIf="player.color=='GRAY' " class="graySled">
                        <supply-sled
                                [nr]="3"
                                [color]="'GRAY'"
                                [(roundNr)]="round"
                                [(currentPlayer)]="currentPlayer">
                        </supply-sled>
                    </div>
                    <div *ngIf="player.color=='BROWN' " class="brownSled">
                        <supply-sled
                                [nr]="4"
                                [color]="'BROWN'"
                                [(roundNr)]="round"
                                [(currentPlayer)]="currentPlayer">
                        </supply-sled>
                    </div>
                </div>
            </div>
        </div>


        <!-- MIDDLE COLUMN -->
        <div class="col-md-10 gameBoard-container">


            <score-board></score-board>


            <div class="">
                <harbor
                        [(CURRENTPLAYER)]="currentPlayer"
                        [(ROUND)]="round"
                        [(IDS)]="shipId">
                </harbor>

            </div>

            <!-- CURRENT PLAYERS OF THE GAME -->

            <!-- Only for testing if all the game parameters are correct
            after switching from the lobby to the game screen-->


            <market-place></market-place>
            <temple></temple>
            <pyramid></pyramid>
            <obelisk></obelisk>
            <burial-chamber></burial-chamber>


        </div><!-- MIDDLE COLUMN -->

        <div class="testData-container">
            <!--
            <div class="loggedInPlayers-container">
                <span class="currentGame">Game: {{game.id}}</span>
                <div *ngFor="let player of game.players" class="loggedInPlayers">
                    <p>Username: {{player.username}}, PlayerID: {{player.id}}</p>
                    <p>PlayerNr: {{player.playerNumber}}, Color: {{player.color}}</p>
                </div>
            </div>
            -->

            <div class="dummyDataCreation-container">
                <button (click)="createDummyStones()">
                    Stones
                </button>
            </div>
        </div>


    </div>
</div>


