<div class="pyramid-container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2 harborRow">
                <div class="harbor">
                    <site-ship [orientation]="'vertical'"></site-ship>
                </div>
            </div>

            <div class="col-md-10 pyramid-content-container">
                    <div class="bigPyramid-square">
                        <div class="stoneRow" *ngFor="let row of pyramidStones[0]">
                            <div class="bigPyramid-stones">
                                <div class="stone {{stone.color != undefined ? stone.color : ''}}" *ngFor="let stone of row">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bigPyramid-square">
                        <div class="stoneRow-grid">
                            <div class="bigPyramid-stones-grid">
                                <div class="stone-grid" [ngClass]="{updated: changedStones[0]!=undefined && changedStones[0]==true}"><span *ngIf="changedStones[0]==undefined">2</span></div>
                                <div class="stone-grid" [ngClass]="{updated: changedStones[1]!=undefined && changedStones[1]==true}"><span *ngIf="changedStones[1]==undefined">1</span></div>
                                <div class="stone-grid" [ngClass]="{updated: changedStones[2]!=undefined && changedStones[2]==true}"><span *ngIf="changedStones[2]==undefined">3</span></div>
                            </div>
                        </div>
                        <div class="stoneRow-grid">
                            <div class="bigPyramid-stones-grid">
                                <div class="stone-grid" [ngClass]="{updated: changedStones[3]!=undefined && changedStones[3]==true}"><span *ngIf="changedStones[3]==undefined">2</span></div>
                                <div class="stone-grid" [ngClass]="{updated: changedStones[4]!=undefined && changedStones[4]==true}"><span *ngIf="changedStones[4]==undefined">4</span></div>
                                <div class="stone-grid" [ngClass]="{updated: changedStones[5]!=undefined && changedStones[5]==true}"><span *ngIf="changedStones[5]==undefined">3</span></div>
                            </div>
                        </div>
                        <div class="stoneRow-grid">
                            <div class="bigPyramid-stones-grid">
                                <div class="stone-grid" [ngClass]="{updated: changedStones[6]!=undefined && changedStones[6]==true}"><span *ngIf="changedStones[6]==undefined">2</span></div>
                                <div class="stone-grid" [ngClass]="{updated: changedStones[7]!=undefined && changedStones[7]==true}"><span *ngIf="changedStones[7]==undefined">1</span></div>
                                <div class="stone-grid" [ngClass]="{updated: changedStones[8]!=undefined && changedStones[8]==true}"><span *ngIf="changedStones[8]==undefined">3</span></div>
                            </div>
                        </div>
                    </div>


                    <div class="middlePyramid-square">
                        <div class="stoneRow" *ngFor="let row of pyramidStones[1]">
                            <div class="middlePyramid-stones">
                                <div class="stone {{stone.color != undefined ? stone.color : ''}}" *ngFor="let stone of row">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="middlePyramid-square">
                        <div class="stoneRow-grid">
                            <div class="middlePyramid-stones-grid">
                                <div class="stone-grid" [ngClass]="{updated: changedStones[9]!=undefined && changedStones[9]==true}"><span *ngIf="changedStones[9]==undefined">2</span></div>
                                <div class="stone-grid" [ngClass]="{updated: changedStones[10]!=undefined && changedStones[10]==true}"><span *ngIf="changedStones[10]==undefined">3</span></div>
                            </div>
                        </div>
                        <div class="stoneRow-grid">
                            <div class="middlePyramid-stones-grid">
                                <div class="stone-grid" [ngClass]="{updated: changedStones[11]!=undefined && changedStones[11]==true}"><span *ngIf="changedStones[11]==undefined">1</span></div>
                                <div class="stone-grid" [ngClass]="{updated: changedStones[12]!=undefined && changedStones[12]==true}"><span *ngIf="changedStones[12]==undefined">3</span></div>
                            </div>
                        </div>
                    </div>

                    <div class="smallPyramid-square">
                        <div class="stoneRow" *ngFor="let row of pyramidStones[2]">
                            <div class="smallPyramid-stones">
                                <div class="stone {{stone.color != undefined ? stone.color : ''}}" *ngFor="let stone of row">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="smallPyramid-square">
                        <div class="stoneRow-grid">
                            <div class="smallPyramid-stones-grid">
                                <div class="stone-grid" [ngClass]="{updated: changedStones[13]!=undefined && changedStones[13]==true}"><span *ngIf="changedStones[13]==undefined">4</span></div>
                            </div>
                        </div>
                    </div>


                    <div class="additionalStones">
                        <div class="additional-stoneRow" *ngIf="hasAdditionalStones">
                            <div class="additionalStone" style="background-color:black; color:whitesmoke" [ngClass]="{updated: additionalStonesChanged[0]}">
                                {{additionalStones[0]}}
                            </div>
                            <div class="additionalStone" style="background-color:whitesmoke" [ngClass]="{updated: additionalStonesChanged[1]}">
                                {{additionalStones[1]}}
                            </div>
                            <div *ngIf="numberOfPlayers > 2" class="additionalStone" style="background-color:saddlebrown" [ngClass]="{updated: additionalStonesChanged[2]}">
                                {{additionalStones[2]}}
                            </div>
                            <div *ngIf="numberOfPlayers > 3" class="additionalStone" style="background-color:grey" [ngClass]="{updated: additionalStonesChanged[3]}">
                                {{additionalStones[3]}}
                            </div>
                        </div>
                    </div>


                    <div class="rulesPopup">
                        <i id="rulesPopup" class="fa fa-question-circle popup" (click)="displayRule()" aria-hidden="true">
                <span class="popuptext papyrus_roll" id="pyramidPopup">
                    <h2>Pyramid</h2>
                    <h3>Assess points <b style="color:red">immediately</b> when placing the stone.</h3>
                    <p>When Pyramid is complete: Each additional stone earns 1 point.</p>
                </span>
                        </i>
                    </div>

                <div class="siteName">
                    <h2>Pyramids</h2>
                </div>


            </div>
        </div>
    </div>
</div>
