@import "../../../assets/scss/_style";
@import "../../../assets/scss/_stones";
@import "../../../assets/scss/_popup";

.pyramid-container {
  z-index: 8;
  height: 250px;
  width: 40%;
  position: absolute;
  right: 70px;
  top: 0;
  border-radius: 20px;
}

.pyramid-content-container {
  height: 250px;
  padding: 0;
}

.pyramid-wrapper {
  position: absolute;
  bottom: 6px;
  left: 5px;
  height: 240px;
  width: 310px;
  border-radius: 10px;
}

.bigPyramid-square {
  position: absolute;
  top: 40px;
  left: 20px;
}

.middlePyramid-square {
  position: absolute;
  bottom: 75px;
  left: 180px;
}

.smallPyramid-square {
  position: absolute;
  top: 75px;
  right: 40px;
}

.middlePyramid {
  height: 250px;
}

.smallPyramid {
  height: 250px;
}

.additionalPyramidStones {
  height: 250px;
}

.bigPyramid-stones {
  padding: 0;
  height: 120px;
  width: 98%;
}

.middlePyramid-stones {
  padding: 0;
  height: 120px;
  width: 98%;
}

.smallPyramid-stones {
  padding: 0;
  height: 120px;
  width: 98%;
}

.stone {
  width: 44px;
  height: 44px;
  margin: 1px 1px 1px 0;
}

.stone:first-child {
  margin-top: 0 !important;
}

.additional-stoneRow {
  padding: 0;
  float: left;
  width: 41px;
  margin-top: 3px;
  position: absolute;
  right: -30px;
  top: 25px;
}

.additionalStone {
  width: 40px;
  height: 40px;
  margin: 1px 1px 1px 0;
  text-align: center;
  padding-top: 12px;
}

.stoneRow {
  margin: 0;
  padding: 0;
  float: left;
  width: 44px;
}

/*PYRAMID GRID*/

.bigPyramid-grid {
  position: absolute;
  bottom: 5px;
  left: 0;
}

.middlePyramid-grid {
  position: absolute;
  top: 25px;
  bottom: 0;
  left: 0;
}

.smallPyramid-grid {
  position: absolute;
  top: 44px;
  bottom: 0;
  left: 0;
}

.bigPyramid-stones-grid {
  padding: 0;
  height: 120px;
  width: 98%;
}

.middlePyramid-stones-grid {
  padding: 0;
  height: 120px;
  width: 98%;
}

.smallPyramid-stones-grid {
  padding: 0;
  height: 120px;
  width: 98%;
}

.stoneRow-grid {
  margin: 0;
  padding: 0;
  float: left;
  /*width: 44px;*/
}

.stone-grid {
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  margin: 1px 1px 1px 0;
  border: 1px solid black;
  color: whitesmoke;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/*******************************/
.site-name-popup {
  /* position of name and popup sign*/
  bottom: 200px;
  right: 80px;
}
.popup-text {
  /* position of popup content */
  top: 48px;
  left: -519px;
}

.harbor {
  /* position of harbor */
  top: 24px;
  left: -9px;
}
/*******************************/

