<div class="market-place-container">
    <div class="site-name-popup">
        <div class="name">
            <h2>Market</h2>
        </div>
        <div class="rulesPopup">
            <i class="fa fa-question-circle popup-icon" aria-hidden="true" (mouseenter)="showPopUp=true" (mouseout)="showPopUp=false">
                <span *ngIf="showPopUp" class="popup-text">
                    <h2>Market</h2>
                    <p>For each stone delivered here, the owner of the stone can <b style="color:red">immediately take any market card</b>.</p>
                    <p>The <b style="color:red">red cards</b> will be played immediately.<p>
                    <p>The <b style="color:red">blue market cards</b> can be played exactly once as an action in a later turn of the player who draws it.<p>
                    <p>The <b style="color:red">purple statue cards</b> and <b style="color:red">the green decoration cards</b> will earn you points at the end of the game.</p>
                    <i>Hover over a card to read it.</i>
                </span>
            </i>
        </div>

    </div>

    <site-harbor
            [(HAS_DOCKED_SHIP)]="hasShipDocked"
            [ORIENTATION]="'horizontal'"
            [SITE_ID]="marketPlaceId"
            [SHIP_WANTS_TO_SAIL]="SHIP_WANTS_TO_SAIL"
            [(ROUND)]="ROUND"
            [(IS_PLAYING_CARD)]="IS_PLAYING_CARD"
            [(CARD_ID)]="CARD_ID"
            [(CARD_TYPE)]="CARD_TYPE"
            class="harbor">

    </site-harbor>

    <div class="marketCard-wrapper">
        <div *ngFor="let card of cards; let i = index;" class="marketCardPlace" [ngClass]="{updated: hasCardUpdated[i]}">
            <div *ngIf="card!=undefined">
                <div class="marketCard {{card.marketCardType}}" (mouseenter)="showlarge(card)" (mouseleave)="hideLargeCard()">
                    <div *ngIf="IS_SUB_ROUND && IS_MY_SUB_ROUND_TURN" class="pick" (click)="pickCard(card.id)">
                        <p>pick card</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="showLargeCard" class="largeCard-container">
        <div class="card {{largeCard.marketCardType}}">
        </div>
    </div>
</div>
