.market-place-container{
  margin-top: 5px;
  margin-bottom: 5px;
  border: 3px dotted gray;
  height: 250px;
  width: 50%;
  background-color: sandybrown;
  position: absolute;
  right: 0;
  bottom: 0;
}

.marketCards{
  background-color: red;
  padding:0;
  text-align: center;
  margin-top:2px;
}

.marketCard{
  height: 95px;
  width: 50%;
  float:left;
  border: 1px solid black;
  line-height: 95px;
  text-align: center;
  font-size: 2.5rem;
}

.marketCard:hover{
  color:whitesmoke;
  cursor: auto;
  font-weight: bold;
  border: 3px solid whitesmoke;
}

.harbor{
  margin-top:2px;
  border:1px solid black;
  height: 190px;
  line-height: 190px;
  text-align: center;
  padding:0;
}

.harbor:hover{
  background-color:seagreen;
}

.green{
  background-color: green;
}

.violet{
  background-color: blueviolet;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.rules{
  border:1px solid  black;
  height: 190px;
  position: relative;
  margin-top:2px;
  line-height: 190px;
  text-align: center;
}

.fa{
  font-size: 3rem;
}

.fa:hover{
  color: whitesmoke;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popuptext {
  z-index: 10;
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  bottom: -30px;
  left: -310px;
  margin-left: 0;
  font-size: 1.5rem;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
