.market-place-container{
  margin-top: 5px;
  height: 250px;
  width: 50%;
  position: absolute;
  right: 30px;
  bottom: 0px;
  border-radius: 20px;
}

.topRow{
  height: 50px;
  margin-bottom: 5px;
}

.marketCards{
  text-align: center;
  margin-left: 27px;
  padding: 0;
  width: 90%;
  border-radius: 10px;

}

.marketCard{
  height: 80px;
  width: 48%;
  float:left;
  line-height: 80px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  margin: 1%;
}

.marketCard:hover{
  color:whitesmoke;
  cursor: auto;
  font-weight: bold;
  border: 3px solid whitesmoke;
}

.harbor {
  border: 1px solid black;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  text-align: center;
  width: 160px;
  padding: 0;
  border-radius: 10px;
  margin-left: 15px;
  background-color: rgba(139, 139, 115, 0.66);

}

.green{
  background-color: green;
}

.violet{
  background-color: blueviolet;
}

.red{
  background-color: red;
}

.blue{
  background-color: #00008c;
  color: whitesmoke;
}

.rules{
  border:1px solid  black;
  height: 190px;
  position: relative;
  margin-top:2px;
  line-height: 190px;
  text-align: center;
}

.fa{
  font-size: 3rem;
}

.fa:hover{
  color: whitesmoke;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popuptext {
  z-index: 10;
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  bottom: -30px;
  left: -310px;
  margin-left: 0;
  font-size: 1.5rem;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.rulesPopup{
  position: absolute;
  top: 15px;
  right: 240px;
  z-index: 100;
}

.siteName{
  position: absolute;
  bottom: 180px;
  right: 130px;
}