<div class="market-place-container">
    <div class="col-md-1">
        <div class="row harbor">
            H
        </div>
    </div>
    <div class="col-md-10 marketCards">
        <div class="marketCard {{card.color != undefined ? card.color : ''}}" *ngFor="let card of cards">
            <p>{{card.marketCardType}}</p>
        </div>
    </div>
    <div class="col-md-1 rules">
        <i id="rulesPopup" class="fa fa-question-circle popup" (click)="displayRule()" aria-hidden="true">
                <span class="popuptext" id="marketPlacePopup">
                    <h2>Market </h2>
                </span>
        </i>
    </div>


</div>
