// ship settings
$ship-height: 50px;
$ship-color: #92562C;
$hover-color: green;

// stone settings
$stone-size: 40px;

$little-stone-size: 7px;

// plus icon size 11x14
// sail icon size 14x14

// ship container with places to place stones
.ship-container {
  display: inline-block;
  height: $ship-height;

  .ship-back {
    display: inline-block;
    float: left;

    padding: ($ship-height - $stone-size)/2 0; // placing stones vertically centered

    height: 100%;
    width: 10px;

    background: url('../../../assets/img/ship/ship_back.png');
    background-size: 100% 100%;
  }

  .ship-middle {
    display: inline-block;
    float: left;

    padding: ($ship-height - $stone-size)/2 0; // placing stones vertically centered

    height: 100%;

    background: url('../../../assets/img/ship/ship_middle.png');
    background-size: 100% 100%;
  }

  .ship-front {
    display: inline-block;
    float: left;

    padding: ($ship-height - $stone-size)/2 0; // placing stones vertically centered

    height: 100%;
    width: 40px;

    background: url('../../../assets/img/ship/ship_front.png');
    background-size: 100% 100%;
  }


  &.sailed {
    margin-left: 15px;

    // do not allow placing stones on sailed ships
    .place {
      &:hover:not(.occupied) {
        cursor: inherit;
        background-color: white !important;
      }

      .fa {
        display: none;
      }
    }
  }

  // div to place stone
  .place {
    display: inline-block;
    float: left;

    margin-right: 5px;
    padding-top: ($stone-size - 14)/2 - 2; // placing plus icon vertically centered
    padding-left: ($stone-size - 11)/2; // placing plus icon horizontally centered

    height: $stone-size;
    width: $stone-size;

    color: white;

    // left margin for the very left place
    &:first-child {
      margin-left: 5px;
    }

    // right margin for the very right place
    &:last-child {
      margin-right: 5px;
    }

    &.occupied {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;

      background-color: gray;

      // don't show the plus icon if place is already occupied
      .fa {
        display: none;
      }
    }

    // show pointer while hovering over all empty places to indicate that user may place a stone
    &:not(.occupied) {
      background: url('../../../assets/img/ship/ship_place.png');
      background-size: 100% 100%;
      &:hover {
        cursor: pointer;
        background-color: black;
        color: $hover-color;
        box-shadow: 0 0 3px 3px rgba(red($hover-color), green($hover-color), blue($hover-color), 0.75);
      }
    }
  }

  // front of the ships that either shows min stones to sail or the sail sign
  .ship-front {
    .littleStones {
      padding-top: ($stone-size - $little-stone-size)/2;  // placing little stones vertically centered

      .littleStone {
        display: inline-block;
        float: right;

        margin-left: 4px;
        border-radius: 3px;

        width: $little-stone-size;
        height: $little-stone-size;

        background-color: #e5841f;

        // right margin for the very left little stone
        &:first-child {
          margin-right: 5px;
        }
      }
    }

    .sail {
      display: inline-block;
      float: left;

      padding-top: ($stone-size - 14)/2 - 3px;      // placing ship icon vertically centered
      padding-left: ($stone-size - 14)/2;    // placing ship icon horizontally centered

      height: $stone-size;
      width: $stone-size;

      color: white;

      &:hover {
        cursor: pointer;
        color: $hover-color;
        box-shadow: 0 0 3px 3px rgba(red($hover-color), green($hover-color), blue($hover-color), 0.75);
      }
    }
  }
}
