// ship settings
$ship-height: 50px;
$ship-color: #92562C;

// stone settings
$stone-size: 40px;

$little-stone-size: 6px;

// plus icon size 11x14
// sail icon size 14x14

// ship container with places to place stones
.ship-container {
  display: inline-block;

  margin: 5px;
  padding: ($ship-height - $stone-size)/2; // placing stones vertically centered
  height: $ship-height;

  background-color: $ship-color;

  &.sailed {
    margin-left: 15px;

    // do not allow placing stones on sailed ships
    .place {
      &:hover:not(.occupied) {
        cursor: inherit;
        background-color: white !important;
      }

      .fa {
        display: none;
      }
    }
  }

  // div to place stone
  .place {
    display: inline-block;
    float: left;

    margin-right: 5px;
    padding-top: ($stone-size - 14)/2 - 2; // placing plus icon vertically centered
    padding-left: ($stone-size - 11)/2; // placing plus icon horizontally centered

    height: $stone-size;
    width: $stone-size;

    background-color: white;

    // no right margin for the very right place
    &:last-child {
      margin-right: 0;
    }

    &.occupied {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;

      background-color: gray;

      // don't show the plus icon if place is already occupied
      .fa {
        display: none;
      }
    }

    // show pointer while hovering over all empty places to indicate that user may place a stone
    &:not(.occupied) {
      &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
      }
    }
  }

  // front of the ships that either shows min stones to sail or the sail sign
  .front {
    display: inline-block;
    float: left;

    height: $stone-size;
    width: $stone-size;

    .littleStones {
      padding-top: ($stone-size - $little-stone-size)/2;  // placing little stones vertically centered

      .littleStone {
        display: inline-block;
        float: right;

        margin-left: 3px;

        width: $little-stone-size;
        height: $little-stone-size;

        background-color: black;

        // no right margin for the very right little stone
        &:last-child {
          margin-left: 0;
        }
      }
    }

    .sail {
      display: inline-block;
      float: left;

      padding-top: ($stone-size - 14)/2;      // placing ship icon vertically centered
      padding-left: ($stone-size - 14)/2;    // placing ship icon horizontally centered

      height: $stone-size;
      width: $stone-size;

      color: white;

      &:hover {
        cursor: pointer;
        color: green;
      }
    }
  }
}
