<div id="" class="ship-container" [ngClass]="{sailed: SHIP.hasSailed}">
    <div class="ship-back"></div>
    <div class="ship-middle">
        <div class="place" *ngFor="let place of PLACES" (click)="setStone(place.id)"
             [ngClass]="{occupied: SHIP.stones[place.id].color!=''}">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <div id="stone" [ngClass]="{
                black: SHIP.stones[place.id].color=='BLACK',
                white: SHIP.stones[place.id].color=='WHITE',
                brown: SHIP.stones[place.id].color=='BROWN',
                gray: SHIP.stones[place.id].color=='GRAY'
                }"></div>
        </div>
    </div>
    <div class="ship-front">
        <div class="readyToSail" *ngIf="isReadyToSail() && !SHIP.hasSailed" (click)="sail()">
            <i class="fa fa-share" aria-hidden="true"></i>
        </div>

        <div class="littleStones" *ngIf="!isReadyToSail()">
            <div class="littleStone" *ngFor="let littleStone of littleStones"></div>
        </div>
    </div>
</div>
