<div *ngIf="ship" class="ship-container" [ngClass]="{sailed: ship.hasSailed}">
    <div class="ship-back"></div>
    <div class="ship-middle">
        <div class="place" *ngFor="let place of places" (click)="setStone(place.id)"
             [ngClass]="{occupied: ship.stones[place.id].color!=''}">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <div id="stone" [ngClass]="{
                black: ship.stones[place.id].color=='BLACK',
                white: ship.stones[place.id].color=='WHITE',
                brown: ship.stones[place.id].color=='BROWN',
                gray: ship.stones[place.id].color=='GRAY'
                }"></div>
        </div>
    </div>
    <div class="ship-front">
        <div class="readyToSail" *ngIf="isReadyToSail() && !ship.hasSailed" (click)="sail()">
            <i class="fa fa-share" aria-hidden="true"></i>
        </div>

        <div class="littleStones" *ngIf="!isReadyToSail()">
            <div class="littleStone" *ngFor="let littleStone of littleStones"></div>
        </div>
    </div>
</div>
