<div class="burial-chamber-container">

    <div class="col-md-1 rules">
        <i id="rulesPopup" class="fa fa-question-circle popup" (click)="displayRule()" aria-hidden="true">
                <span class="popuptext" id="myPopup">
                    <h2>Burial Chamber</h2>
                    <p>Assess points at the end of the game</p>
                    <table>
                        <thead>
                        <th>
                          1x
                        </th>
                        <th>
                           2x
                        </th>
                        <th>
                            3x
                        </th>
                        <th>
                            4x
                        </th>
                        <th>
                            5x
                        </th>
                        <th>
                            ...
                        </th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                            1
                            </td>
                            <td>
                            3
                            </td>
                            <td>
                            6
                            </td>
                            <td>
                            10
                            </td>
                            <td>
                            15
                            </td>
                            <td>
                            +2
                            </td>
                        </tr>
                        </tbody>


                    </table>
                </span>
        </i>

    </div>

    <div class="col-md-10 burial-chamber">
        <div class="row">
            <div class="stoneRow" *ngFor="let row of rows">
                <div class="burial-chamber-stones">
                    <div class="stone {{stone.color != undefined ? stone.color : ''}}" *ngFor="let stone of row">

                    </div>
                </div>
            </div>


            <div class="burial-chamber-grid">
                <div class="stoneRow-grid">
                    <div class="burial-chamber-stones-grid">
                        <div class="stone-grid">

                        </div>
                        <div class="stone-grid">

                        </div>
                        <div class="stone-grid">

                        </div>
                    </div>
                </div>
                <div class="stoneRow-grid">
                    <div class="burial-chamber-stones-grid">
                        <div class="stone-grid">

                        </div>
                        <div class="stone-grid">

                        </div>
                        <div class="stone-grid">

                        </div>
                    </div>
                </div>
                <div class="stoneRow-grid">
                    <div class="burial-chamber-stones-grid">
                        <div class="stone-grid">

                        </div>
                        <div class="stone-grid">

                        </div>
                        <div class="stone-grid">

                        </div>
                    </div>
                </div>
                <div class="stoneRow-grid">
                    <div class=" burial-chamber-stones-grid">
                        <div class="stone-grid">

                        </div>
                        <div class="stone-grid">

                        </div>
                        <div class="stone-grid">

                        </div>
                    </div>
                </div>
                <div class="stoneRow-grid">
                    <div class=" burial-chamber-stones-grid">
                        <div class="stone-grid">

                        </div>
                        <div class="stone-grid">

                        </div>
                        <div class="stone-grid">

                        </div>
                    </div>
                </div>
                <div class="stoneRow-grid">
                    <div class=" burial-chamber-stones-grid">
                        <div class="stone-grid">

                        </div>
                        <div class="stone-grid">

                        </div>
                        <div class="stone-grid">

                        </div>
                    </div>
                </div>
                <div class="stoneRow-grid">
                    <div class=" burial-chamber-stones-grid">
                        <div class="stone-grid">

                        </div>
                        <div class="stone-grid">

                        </div>
                        <div class="stone-grid">

                        </div>
                    </div>
                </div>
                <div class="stoneRow-grid">
                    <div class=" burial-chamber-stones-grid">
                        <div class="stone-grid">

                        </div>
                        <div class="stone-grid">

                        </div>
                        <div class="stone-grid">

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="col-md-1">
        <div class="row harbor">
            H
        </div>
    </div>



</div>