<div class="burial-chamber-container">

    <div class="col-md-1">
        <div class="row harbor">
            H
        </div>
    </div>

    <div class="col-md-11 burial-chamber">
        <div class="row">
            <div class="stoneRow" *ngFor="let row of rows">
                <div class="col-md-10 burial-chamber-stones">
                        <div class="stone {{stone.color != undefined ? stone.color : ''}}" *ngFor="let stone of row">
                            {{stone.id}}
                        </div>
                </div>
            </div>

        </div>
    </div>


</div>