@import "../../../assets/scss/_style";
@import "../../../assets/scss/_stones";
@import "../../../assets/scss/_popup";

.burial-chamber-container {
  z-index: 9;
  height: 143px;
  width: 542px;
  position: absolute;
  right: 10px;
  top: 255px;
}

.burial-chamber {
  height: 150px;
}

.playerStones {
  position: absolute;
  bottom: 5px;
  left: 50px;
}

.burial-chamber-stones {
  margin: 4px 0 0 5px;
  padding: 0;
  height: 141px;
  width: 98%;
}

.stoneRow {
  margin: 0;
  padding: 0;
  float: left;
  width: 48px;
  z-index: 10;
}

.stone {
  width: 45px;
  height: 45px;
  margin: 1px;
}

.stone:first-child {
  margin-top: 0 !important;
}

/*GRID START*/
.burial-chamber-grid {
  position: absolute;
  bottom: 5px;
  left: 50px;
}

.stoneRow-grid {
  margin: 0;
  padding: 0;
  float: left;
  width: 48px;

}

.burial-chamber-stones-grid {
  margin-left: 5px;
  padding: 0;
  height: 141px;
  width: 98%;

}

.stone-grid {
  width: 45px;
  height: 45px;
  margin: 1px 1px 1px 1px;
  border: 1px solid black;
}

/*GRID END*/

table {
  border-collapse: collapse;
  margin: 0 auto;
}

table, th, td {
  border: 1px solid black;
  margin-bottom: 10px;
}

th, td {
  height: 20px;
  padding: 10px;
}

th {
  text-align: center;
}

::-webkit-scrollbar {
  width: 12px; /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

/*******************************/
.site-name-popup {
  /* position of name and popup sign*/
  left: 71px;
  bottom: 144px;
}

.popup-text {
  /* position of popup content */
  top: 31px;
  left: -388px;
}

.harbor {
  /* position of harbor */
  top: 28px;
  left: -19px;
}
/*******************************/
