.burial-chamber-container{
  border: 3px dotted gray;
  height: 140px;
  width: 40%;
  background-color: sandybrown;
  position: absolute;
  left: 0;
  bottom: 0;


}

.harbor{
  margin-top:2px;
  border:1px solid black;
  height: 130px;
  line-height: 130px;
  text-align: center;
  padding:0;
  background-color: rgba(139, 139, 115, 0.66);
}



.burial-chamber{
  margin-top:2px;
  border: 1px solid black;
  height: 130px;
  z-index: 10;
}

.burial-chamber-grid{
  position: absolute;
  bottom: 5px;
  left: 0;
}

.burial-chamber-stones{
  margin: 4px 0 0 5px;
  padding:0;
  height: 120px;
  width: 98%;
}

.burial-chamber-stones-grid{
  margin-left: 5px;
  padding:0;
  height: 120px;
  width: 98%;

}

.stoneRow{
  margin:0;
  padding:0;
  float: left;
  width:41px;
  z-index: 10;
}

.stoneRow-grid{
  margin:0;
  padding:0;
  float: left;
  width:41px;

}


.stone{
  width: 39px;
  height: 39px;
  margin:1px 1px 1px 0;
}

.stone-grid{
  width: 39px;
  height: 39px;
  margin:1px 1px 1px 0;
  border: 1px solid black;

}

.stone:first-child{
  margin-top:0!important;
}

.stone:hover{
  background-color: #985f0d;
}


.emtpyStonePlace{
  background-color: saddlebrown;
}


.BLACK{
  background-color:black;

}

.WHITE{
  background-color:whitesmoke;
}

.BROWN{
  background-color:#955050;
}

.GRAY{
  background-color:#808080;
}

.background-color{
  color:#808080;
}

.rules{
  border:1px solid  black;
  height: 130px;
  position: relative;
  margin-top:2px;
  line-height: 130px;
  text-align: center;
}

.fa{
  font-size: 3rem;
}

.fa:hover{
  color: whitesmoke;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popuptext {
  z-index: 10;
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  bottom: 35px;
  left: -57px;
  margin-left: -80px;
  font-size: 1.5rem;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td{
  height: 20px;
  padding: 10px;
}

th{
  text-align: center;
}



::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}