<div class="playerCards-container">

    <span *ngFor="let card of blueCards">

        <div class="cardSquares {{card.marketCardType}}" *ngIf="IS_MY_TURN && NR==CURRENTPLAYER"
             [ngClass]="{playCard:(NR==CURRENTPLAYER)&& card.color=='BLUE'}"
             (click)="showPlayableCard(card)">
        </div>
    </span>

    <div class="cardSquare BLUE" *ngIf="!IS_MY_TURN || NR!=CURRENTPLAYER">
    </div>

    <div *ngIf="showBlueCardDetail" class="cardDetail marketCard {{detailCard.marketCardType}}" (mouseenter)="showPlayButton()" (mouseleave)="hidePlayButton()">

        <div *ngIf="playButton" class="card {{detailCard.marketCardType}}"  [ngClass]="{blurred: playButton}"></div>

        <div *ngIf="playButton">
            <button class="closeButton" (click)="closeCard()">X</button>
            <button class="playButton" (click)="playCard(detailCard)">play this card</button>
        </div>
    </div>

    <span *ngIf="!IS_MY_TURN || NR!=CURRENTPLAYER" class="blueCards" (mouseenter)="showCardDetails('BLUE')" (mouseleave)="hideCardDetails()">
        {{blueCards.length}}
    </span>

    <span class="greenCards" (mouseenter)="showCardDetails('GREEN')" (mouseleave)="hideCardDetails()">
        {{greenCards.length}}
    </span>

    <span class="purpleCards" (mouseenter)="showCardDetails('PURPLE')" (mouseleave)="hideCardDetails()">
        {{purpleCards.length}}
    </span>


    <div *ngIf="showGreenCardDetail" class="greenCardDetails">
        <div class="cardWrapper">
            <div class="cardStack">
                <div class="marketCardDetail BURIAL_CHAMBER_DECORATION">
                    <div [ngClass]="{cardBlur: sortedGreenCards[0]==undefined || sortedGreenCards[0].length == 0}">

                    </div>
                </div>
                <span *ngIf="!(sortedGreenCards[0]==undefined || sortedGreenCards[0].length == 0)" class="nrOfCards">
                    {{sortedGreenCards[0].length}}x
                </span>
            </div>

            <div class="cardStack">

                <div class="marketCardDetail OBELISK_DECORATION">
                    <div [ngClass]="{cardBlur: sortedGreenCards[1]==undefined || sortedGreenCards[1].length == 0}">

                    </div>
                </div>
                <span *ngIf="!(sortedGreenCards[1]==undefined || sortedGreenCards[1].length == 0)" class="nrOfCards">
                    {{sortedGreenCards[1].length}}x
                </span>

            </div>

            <div class="cardStack">

                <div class="marketCardDetail PYRAMID_DECORATION">
                    <div [ngClass]="{cardBlur: sortedGreenCards[2]==undefined || sortedGreenCards[2].length == 0}">

                    </div>
                </div>
                <span *ngIf="!(sortedGreenCards[2]==undefined || sortedGreenCards[2].length == 0)" class="nrOfCards">
                    {{sortedGreenCards[2].length}}x
                </span>

            </div>

            <div class="cardStack">
                <div class="marketCardDetail TEMPLE_DECORATION">
                    <div [ngClass]="{cardBlur: sortedGreenCards[3]==undefined || sortedGreenCards[3].length == 0}">

                    </div>
                </div>
                <span *ngIf="!(sortedGreenCards[3]==undefined || sortedGreenCards[3].length == 0)" class="nrOfCards">
                    {{sortedGreenCards[3].length}}x
                </span>
            </div>


        </div>


    </div>

    <div *ngIf="showPurpleCardDetail" class="purpleCardDetails">
        <div class="cardWrapper">
            <div class="marketCardDetail STATUE">
                <div [ngClass]="{cardBlur: purpleCards ==undefined || purpleCards.length == 0}">

                </div>
            </div>
        </div>
        <span *ngIf="!(purpleCards ==undefined || purpleCards.length == 0)" class="nrOfPurpleCards">
            {{purpleCards.length}}x
        </span>
    </div>

    <div *ngIf="showBlueCards" class="blueCardDetails">
        <div class="cardWrapper" *ngFor="let card of blueCards">
            <div  class="marketCardDetail {{card.marketCardType}}">

            </div>
        </div>
    </div>
</div>

