@import "../../../assets/scss/_style";
@import "../../../assets/scss/market_cards";

.playerCards-container {
  width: 170px;
  padding-left: 20px;

  .marketCard {
    position: absolute;
    width: 200px;
    height: 120px;
    border: 1px solid black;
    right: -220px;
    bottom: 20px;
  }

  .blueCardDetails {
    position: absolute;
    left: 190px;
    bottom: 20px;
    width: 900px;
    height: 121px;
    .cardWrapper {
      position: relative;
      display: inline-block;
      z-index: 200;
      .marketCardDetail {
        width: 200px;
        height: 120px;
        border: 1px solid black;
        margin-right: 3px;
      }
    }
  }

  .greenCardDetails {
    position: absolute;
    left: 190px;
    bottom: 20px;
    width: 900px;
    height: 121px;
    .cardWrapper {
      position: relative;
      z-index: 200;
      .cardStack {
        display: inline-block;
        position: relative;

        .marketCardDetail {
          width: 200px;
          height: 120px;
          border: 1px solid black;
          margin-right: 3px;
          .cardBlur {
            height: 120px;
            width: 200px;
            background-color: rgba(0, 0, 0, 0.71);
          }
        }
        .nrOfCards {
          position: absolute;
          left: 170px;
          top: 25px;
          height: 20px;
          width: 20px;
          background-color: #efffc7;
          z-index: 300;
          border-radius: 3px;
          line-height: 20px;
          text-align: center;
          font-weight: bold;
        }
      }

    }
  }

  .purpleCardDetails {
    position: absolute;
    left: 190px;
    bottom: 20px;
    width: 220px;
    height: 121px;
    .nrOfPurpleCards {
      position: absolute;
      left: 170px;
      top: 25px;
      height: 20px;
      width: 20px;
      background-color: #efffc7;
      z-index: 300;
      border-radius: 3px;
      line-height: 20px;
      text-align: center;
      font-weight: bold;
    }
    .cardWrapper {
      position: relative;
      display: inline-block;
      z-index: 200;
      .marketCardDetail {
        position: absolute;
        top: -15px;
        left: 0;
        width: 200px;
        height: 120px;
        border: 1px solid black;
        margin-right: 3px;
        .cardBlur {
          height: 120px;
          width: 200px;
          background-color: rgba(0, 0, 0, 0.71);
        }

      }
    }
  }

  .card {
    width: 100%;
    height: 100%
  }

  .cardDetail {
    z-index: 200;
  }

  .playCard {
    border: 2px solid lime !important;
  }

  .playCard:hover {
    background-color: whitesmoke;
    border: 1px solid blue !important;
    cursor: hand;

  }

  .cardSquares {
    margin-top: 3px;
    height: 18px;
    width: 30px;
    line-height: 20px;
    text-align: center;
    background-color: blue;
    display: inline-block;
    border-radius: 2px;
  }

  .cardSquares:hover {
    border: 1px solid whitesmoke;
  }

  .cardSquare {
    margin-top: 3px;
    height: 18px;
    width: 30px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
  }

  .blueCards {
    position: absolute;
    left: 2px;
    bottom: 75px;
    width: 20px;
    height: 13px;
    background-color: blue;
    border-radius: 2px;
    border: 1px solid whitesmoke;
    z-index: 200;
    font-size: 10px;
    color: whitesmoke;
    line-height: 13px;
    text-align: center;
  }

  .greenCards {
    position: absolute;
    left: 2px;
    bottom: 105px;
    width: 20px;
    height: 13px;
    background-color: green;
    border-radius: 2px;
    border: 1px solid whitesmoke;
    z-index: 200;
    font-size: 10px;
    color: whitesmoke;
    line-height: 13px;
    text-align: center;
  }

  .purpleCards {
    position: absolute;
    left: 2px;
    bottom: 90px;
    width: 20px;
    height: 13px;
    background-color: rebeccapurple;
    border-radius: 2px;
    border: 1px solid whitesmoke;
    z-index: 200;
    color: whitesmoke;
    line-height: 13px;
    text-align: center;
    font-size: 10px;
  }

  .clickable:hover {
    cursor: hand;
  }

  .closeButton {
    position: absolute;
    right: 3px;
    top: 3px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    border-radius: 5px;
  }

  .closeButton:hover {
    border: 1px solid #000000;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #F2994A, #F2994A);
    opacity: 1.00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: black;
  }



  .playButton {
    position: absolute;
    left: 50px;
    top: 45px;
    font-weight: bold;

    border: 1px solid #000000;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #F2994A, #F2994A);
    opacity: 1.00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: black;
  }

  .playButton:hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #F2994A, #f2360c);

  }

}

.blurred {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

