<div class="playerCards-container">

    <span class="cards greenCards" title="green cards give points at the end of the game" (mouseenter)="showCardDetails('GREEN')" (mouseleave)="hideCardDetails()">
        {{greenCards.length}}
    </span>

    <span class="cards purpleCards" title="purple cards give points at the end of the game" (mouseenter)="showCardDetails('PURPLE')" (mouseleave)="hideCardDetails()">
        {{purpleCards.length}}
    </span>

    <span class="cards blueCards" (mouseenter)="showCardDetails('BLUE')">
        {{blueCards.length}}
    </span>

    <div *ngIf="showGreenCardDetail" class="greenCardDetails">
        <div class="cardWrapper">
            <div class="cardStack">
                <div class="marketCardDetail BURIAL_CHAMBER_DECORATION">
                    <div [ngClass]="{cardBlur: sortedGreenCards[0]==undefined || sortedGreenCards[0].length == 0}">

                    </div>
                </div>
                <span *ngIf="!(sortedGreenCards[0]==undefined || sortedGreenCards[0].length == 0)" class="nrOfCards">
                    {{sortedGreenCards[0].length}}x
                </span>
            </div>

            <div class="cardStack">

                <div class="marketCardDetail OBELISK_DECORATION">
                    <div [ngClass]="{cardBlur: sortedGreenCards[1]==undefined || sortedGreenCards[1].length == 0}">

                    </div>
                </div>
                <span *ngIf="!(sortedGreenCards[1]==undefined || sortedGreenCards[1].length == 0)" class="nrOfCards">
                    {{sortedGreenCards[1].length}}x
                </span>

            </div>

            <div class="cardStack">

                <div class="marketCardDetail PYRAMID_DECORATION">
                    <div [ngClass]="{cardBlur: sortedGreenCards[2]==undefined || sortedGreenCards[2].length == 0}">

                    </div>
                </div>
                <span *ngIf="!(sortedGreenCards[2]==undefined || sortedGreenCards[2].length == 0)" class="nrOfCards">
                    {{sortedGreenCards[2].length}}x
                </span>

            </div>

            <div class="cardStack">
                <div class="marketCardDetail TEMPLE_DECORATION">
                    <div [ngClass]="{cardBlur: sortedGreenCards[3]==undefined || sortedGreenCards[3].length == 0}">

                    </div>
                </div>
                <span *ngIf="!(sortedGreenCards[3]==undefined || sortedGreenCards[3].length == 0)" class="nrOfCards">
                    {{sortedGreenCards[3].length}}x
                </span>
            </div>


        </div>


    </div>

    <div *ngIf="showPurpleCardDetail" class="purpleCardDetails">
        <div class="cardWrapper">
            <div class="marketCardDetail STATUE">
                <div [ngClass]="{cardBlur: purpleCards ==undefined || purpleCards.length == 0}">

                </div>
            </div>
            <span *ngIf="!(purpleCards ==undefined || purpleCards.length == 0)" class="nrOfPurpleCards">
            {{purpleCards.length}}x
        </span>
        </div>

    </div>

    <div *ngIf="showBlueCards" class="blueCardDetails" (mouseenter)="showCardDetails('BLUE')" (mouseleave)="hideCardDetails()">

        <div class="cardWrapper">
            <div *ngIf="sortedBlueCards[0]==undefined || sortedBlueCards[0].length == 0" class="marketCardDetail HAMMER">
                <div [ngClass]="{cardBlur: sortedBlueCards[0]==undefined || sortedBlueCards[0].length == 0}">

                </div>
                <span *ngIf="!(sortedBlueCards[0]==undefined || sortedBlueCards[0].length == 0)" class="nrOfCards">
                    {{sortedBlueCards[0].length}}x
                </span>
            </div>

            <div  *ngIf="!(sortedBlueCards[0]==undefined || sortedBlueCards[0].length == 0)" class="marketCardDetail HAMMER" (mouseenter)="showPlayButton(sortedBlueCards[0][0].marketCardType)" (mouseleave)="hidePlayButton()">
                <div [ngClass]="{cardBlur: sortedBlueCards[0]==undefined || sortedBlueCards[0].length == 0}"></div>
                <span *ngIf="!(sortedBlueCards[0]==undefined || sortedBlueCards[0].length == 0)" class="nrOfCards">{{sortedBlueCards[0].length}}x</span>

                <span *ngIf="isCardPlayable('HAMMER') && IS_MY_TURN && NR==CURRENTPLAYER" class="isPlayable">can be played</span>
                <span *ngIf="!isCardPlayable('HAMMER') && IS_MY_TURN && NR==CURRENTPLAYER" class="isNotPlayable">cannot be played</span>

                <div *ngIf="playButton && hoveredMarketCardType == 'HAMMER' && IS_MY_TURN && NR==CURRENTPLAYER">
                    <div class="card blurred {{hoveredMarketCardType}}"></div>
                    <span class="playButton" (click)="playCard(sortedBlueCards[0][0])">play this card</span>
                </div>

            </div>
        </div>

        <div class="cardWrapper">
            <div *ngIf="sortedBlueCards[1]==undefined || sortedBlueCards[1].length == 0" class="marketCardDetail LEVER">
                <div [ngClass]="{cardBlur: sortedBlueCards[1]==undefined || sortedBlueCards[1].length == 0}">

                </div>
                <span *ngIf="!(sortedBlueCards[1]==undefined || sortedBlueCards[1].length == 0)" class="nrOfCards">
                    {{sortedBlueCards[1].length}}x
                </span>
            </div>

            <div *ngIf="!(sortedBlueCards[1]==undefined || sortedBlueCards[1].length == 0)" class="marketCardDetail LEVER" (mouseenter)="showPlayButton(sortedBlueCards[1][0].marketCardType)" (mouseleave)="hidePlayButton()">
                <div [ngClass]="{cardBlur: sortedBlueCards[1]==undefined || sortedBlueCards[1].length == 0}"></div>
                <span *ngIf="!(sortedBlueCards[1]==undefined || sortedBlueCards[1].length == 0)" class="nrOfCards">{{sortedBlueCards[1].length}}x</span>

                <span *ngIf="isCardPlayable('LEVER') && IS_MY_TURN && NR==CURRENTPLAYER" class="isPlayable">can be played</span>
                <span *ngIf="!isCardPlayable('LEVER') && IS_MY_TURN && NR==CURRENTPLAYER" class="isNotPlayable">cannot be played</span>

                <div *ngIf="playButton && hoveredMarketCardType == 'LEVER' && IS_MY_TURN && NR==CURRENTPLAYER">
                    <div class="card blurred {{hoveredMarketCardType}}"></div>
                    <span class="playButton" (click)="playCard(sortedBlueCards[1][0])"><span class="playButton-text">play this card</span></span>
                </div>

            </div>
        </div>

        <div class="cardWrapper">
            <div *ngIf="sortedBlueCards[2]==undefined || sortedBlueCards[2].length == 0" class="marketCardDetail CHISEL">
                <div [ngClass]="{cardBlur: sortedBlueCards[2]==undefined || sortedBlueCards[2].length == 0}">

                </div>
                <span *ngIf="!(sortedBlueCards[2]==undefined || sortedBlueCards[2].length == 0)" class="nrOfCards">
                    {{sortedBlueCards[2].length}}x
                </span>
            </div>

            <div *ngIf="!(sortedBlueCards[2]==undefined || sortedBlueCards[2].length == 0)" class="marketCardDetail CHISEL" (mouseenter)="showPlayButton(sortedBlueCards[2][0].marketCardType)" (mouseleave)="hidePlayButton()">
                <div [ngClass]="{cardBlur: sortedBlueCards[2]==undefined || sortedBlueCards[2].length == 0}"></div>
                <span *ngIf="!(sortedBlueCards[2]==undefined || sortedBlueCards[2].length == 0)" class="nrOfCards">{{sortedBlueCards[2].length}}x</span>

                <span *ngIf="isCardPlayable('CHISEL') && IS_MY_TURN && NR==CURRENTPLAYER" class="isPlayable">can be played</span>
                <span *ngIf="!isCardPlayable('CHISEL') && IS_MY_TURN && NR==CURRENTPLAYER" class="isNotPlayable">cannot be played</span>

                <div *ngIf="playButton && hoveredMarketCardType == 'CHISEL' && IS_MY_TURN && NR==CURRENTPLAYER">
                    <div class="card blurred {{hoveredMarketCardType}}"></div>
                    <span class="playButton" (click)="playCard(sortedBlueCards[2][0])">play this card</span>
                </div>
            </div>
        </div>

        <div class="cardWrapper">
            <div *ngIf="sortedBlueCards[3]==undefined || sortedBlueCards[3].length == 0" class="marketCardDetail SAIL">
                <div [ngClass]="{cardBlur: sortedBlueCards[3]==undefined || sortedBlueCards[3].length == 0}">

                </div>
                <span *ngIf="!(sortedBlueCards[3]==undefined || sortedBlueCards[3].length == 0)" class="nrOfCards">
                    {{sortedBlueCards[3].length}}x
                </span>
            </div>

            <div *ngIf="!(sortedBlueCards[3]==undefined || sortedBlueCards[3].length == 0)" class="marketCardDetail SAIL" (mouseenter)="showPlayButton(sortedBlueCards[3][0].marketCardType)" (mouseleave)="hidePlayButton()">
                <div [ngClass]="{cardBlur: sortedBlueCards[3]==undefined || sortedBlueCards[3].length == 0}"></div>
                <span *ngIf="!(sortedBlueCards[3]==undefined || sortedBlueCards[3].length == 0)" class="nrOfCards">{{sortedBlueCards[3].length}}x</span>

                <span *ngIf="isCardPlayable('SAIL') && IS_MY_TURN && NR==CURRENTPLAYER" class="isPlayable">can be played</span>
                <span *ngIf="!isCardPlayable('SAIL') && IS_MY_TURN && NR==CURRENTPLAYER" class="isNotPlayable">cannot be played</span>

                <div *ngIf="playButton && hoveredMarketCardType == 'SAIL' && IS_MY_TURN && NR==CURRENTPLAYER ">
                    <div class="card blurred {{hoveredMarketCardType}}"></div>
                    <span class="playButton" (click)="playCard(sortedBlueCards[3][0])"><span class="playButton-text">play this card</span></span>
                </div>

            </div>
        </div>
        <div *ngIf="IS_MY_TURN && NR==CURRENTPLAYER && blueCards?.length > 0" class="playCardInfo">
            click on a playable card to play it
        </div>

    </div>
</div>

