.hint-component {
  margin: 0 auto;
  border-radius: 5px;
  width: 668px;
  height: 35px;
  line-height: 35px;

  background: rgba(128, 128, 128, 0.74);

  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
