$BLACK-background: black;
$BLACK-foreground: white;

$WHITE-background: white;
$WHITE-foreground: black;

$BROWN-background: brown;
$BROWN-foreground: black;

$GRAY-background: gray;
$GRAY-foreground: black;

/*****************************************************************************************************/
/* STATE UPDATE */
/*****************************************************************************************************/

.updated {
  -webkit-box-shadow: 0 0 0 5px lime !important;
  -moz-box-shadow: 0 0 0 5px lime !important;
  box-shadow: 0 0 5px 5px lime !important;
}

/*****************************************************************************************************/
/* STONES */
/*****************************************************************************************************/

.BLACK {
  color: $BLACK-foreground;
  /*background-color: $BLACK-background;*/
  background-image: url('../../../assets/img/stone/stone_black.png');
  background-size: 100% 100%;
}

.WHITE {
  color: $WHITE-foreground;
  /*background-color: $WHITE-background;*/
  background-image: url('../../../assets/img/stone/stone_white.png');
  background-size: 100% 100%;

}

.BROWN {
  color: $BROWN-foreground;
  /*background-color: $BROWN-background;*/
  background-image: url('../../../assets/img/stone/stone_brown.png');
  background-size: 100% 100%;
}

.GRAY {
  color: $GRAY-foreground;
  /*background-color: $GRAY-background;*/
  background-image: url('../../../assets/img/stone/stone_gray.png');
  background-size: 100% 100%;
}

/*****************************************************************************************************/
/* MARKET CARDS */
/*****************************************************************************************************/

/*blue*/
.CHISEL {
  background-image: url('../../../assets/img/market-cards/market_card_blue_chisel.png');
  background-size: 100% 100%;
}

.HAMMER {
  background-image: url('../../../assets/img/market-cards/market_card_blue_hammer.png');
  background-size: 100% 100%;
}

.LEVER {
  background-image: url('../../../assets/img/market-cards/market_card_blue_lever.png');
  background-size: 100% 100%;
}

.SAIL {
  background-image: url('../../../assets/img/market-cards/market_card_blue_sail.png');
  background-size: 100% 100%;
}
/*blue*/

/*green*/
.BURIAL_CHAMBER_DECORATION {
  background-image: url('../../../assets/img/market-cards/market_card_green_burial_chamber_decoration.png');
  background-size: 100% 100%;
}

.OBELISK_DECORATION {
  background-image: url('../../../assets/img/market-cards/market_card_green_obelisk_decoration.png');
  background-size: 100% 100%;
}

.PYRAMID_DECORATION {
  background-image: url('../../../assets/img/market-cards/market_card_green_pyramid_decoration.png');
  background-size: 100% 100%;
}

.TEMPLE_DECORATION {
  background-image: url('../../../assets/img/market-cards/market_card_green_temple_decoration.png');
  background-size: 100% 100%;
}
/*green*/

/*purple*/
.STATUE {
  background-image: url('../../../assets/img/market-cards/market_red_entrance.png');
  background-size: 100% 100%;
}
/*purple*/

/*red*/
.ENTRANCE {
  background-image: url('../../../assets/img/market-cards/market_red_paved_path.png');
  background-size: 100% 100%;
}

.PAVED_PATH {
  background-image: url('../../../assets/img/market-cards/market_red_paved_path.png');
  background-size: 100% 100%;
}

.SARCOPHAGUS {
  background-image: url('../../../assets/img/market-cards/market_red_sarcophagus.png');
  background-size: 100% 100%;
}
/*red*/

/*****************************************************************************************************/
/* POPUP */
/*****************************************************************************************************/

/* container for popup */
.site-name-popup {
  position: absolute;
  z-index: 100;

  .name {
    display: inline-block;
  }

  .rulesPopup {
    z-index: 1000;
    display: inline-block;

    .popup-icon {
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &.fa{
        font-size: 3rem;

        &:hover{
          color: whitesmoke;
        }
      }

      /* Toggle this class - hide and show the popup */
      & .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
      }
    }
  }

}

/* The actual popup */
.popup-text {
  z-index: 5000;

  position: absolute;

  padding: 10px 20px 20px 20px;
  width: 300px;

  font-size: 1.5rem;
  text-align: center;
  color: black;

  visibility: hidden;

  background-image: url('../../../assets/img/papyrus_roll.gif');
  background-size: 100% 100%;

  h2 {
  }
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}