.obelisk-container {
    height: 160px;
    width: 20%;
    background-color: sandybrown;
    position: absolute;
    left: 400px;
    top: 300px;
    border-radius: 20px;
}

.harborRow{
    padding: 5px;
}

.harbor {
    border: 1px solid black;
    height: 140px;
    line-height: 140px;
    margin-top: 5px;
    text-align: center;
    padding: 0;
    border-radius: 10px;
    background-color: rgba(139, 139, 115, 0.66);

}

.obelisk{
    height: 160px;
    position: relative;
}

.place1 {
    color: white;
    font-weight: bold;
    font-size: 150%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    background-color: black;
    float: left;
    position: absolute;
    top: 10px;
    left: 10px;
}

.place2 {
    color: black;
    font-weight: bold;
    font-size: 150%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    background-color: white;
    float: left;
    position: absolute;
    right: 10px;
    top:10px;
}

.place3 {
    color: white;
    font-weight: bold;
    font-size: 150%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    background-color: gray;
    float: left;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.place4 {
    color: white;
    font-weight: bold;
    font-size: 150%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    background-color: saddlebrown;
    float: left;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.rules{
    border:1px solid  black;
    height: 160px;
    line-height: 160px;
    text-align: center;
    padding: 0!important;
}


.fa{
    font-size: 3rem;
}

.fa:hover{
    color: whitesmoke;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popuptext {
    z-index: 10;
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    bottom: 35px;
    left: -57px;
    margin-left: -80px;
    font-size: 1.5rem;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.rulesPopup{
    position: absolute;
    bottom: 65px;
    right: 67px;
    z-index: 100;
}



      
