<div class="obelisk-container">
    <div class="col-md-12">
        <div class="row">

            <div class="col-md-12 obelisk">
                <div>
                    <div class="place BLACK"
                         [ngClass]="{updated: hasPlaceUpdated[0]}">
                        {{stoneCounter[0]}}
                    </div>
                    <div class="place WHITE"
                         [ngClass]="{updated: hasPlaceUpdated[1]}">
                        {{stoneCounter[1]}}
                    </div>
                    <div class="place BROWN"
                         *ngIf="numberOfPlayers>2"
                         [ngClass]="{updated: hasPlaceUpdated[2]}">
                        {{stoneCounter[2]}}
                    </div>
                    <div class="place GRAY"
                         *ngIf="numberOfPlayers>3"
                         [ngClass]="{updated: hasPlaceUpdated[3]}">
                        {{stoneCounter[3]}}
                    </div>
                </div>
            </div>
            <div class="site-name-popup">
                <div class="name">
                    <h2>Obelisk</h2>
                </div>
                <div class="rulesPopup">
                    <i id="rulesPopup" class="fa fa-question-circle popup-icon" (click)="displayRule()" aria-hidden="true">
                <span class="popup-text" id="obeliskPopup">
                    <h2>Obelisk</h2>
                    <p>Assess points at <b style="color:red">end of game</b></p>
                    <div class="tables">
                        <div class="table1" *ngIf="numberOfPlayers==4">
                            <!--<p><b>4 Players:</b></p>-->
                                <table>
                                    <thead>
                                    <tr>
                                        <th>1.</th>
                                        <th>2.</th>
                                        <th>3.</th>
                                        <th>4.</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>15</td>
                                        <td>10</td>
                                        <td>5</td>
                                        <td>1</td>
                                    </tr>
                                    </tbody>
                                </table>
                        </div>

                        <div class="table2" *ngIf="numberOfPlayers==3">
                            <!--<p><b>3 Players:</b></p>-->
                            <table>
                                <thead>
                                <tr>
                                    <th>1.</th>
                                    <th>2.</th>
                                    <th>3.</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>12</td>
                                    <td>6</td>
                                    <td>1</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table3" *ngIf="numberOfPlayers==2">
                            <!--<p><b>2 Players:</b></p>-->
                            <table>
                                <thead>
                                <tr>
                                    <th>1.</th>
                                    <th>2.</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>10</td>
                                    <td>1</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </span>
                    </i>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--<div dnd-droppable class="harbor horizontal" [ngClass]="{updated: hasHarborUpdated}" (onDropSuccess)="transferDataSuccess($event)">-->
                <!--<site-ship-->
                <!--*ngIf="hasShipDocked"-->
                <!--[orientation]="'horizontal'">-->
                <!--</site-ship>-->
                <!--</div>-->

                <site-harbor [HAS_DOCKED_SHIP]="hasShipDocked"
                             [ORIENTATION]="'horizontal'"
                             [SITE_ID]="obeliskId"
                             [SHIP_WANTS_TO_SAIL]="SHIP_WANTS_TO_SAIL"
                             class="harbor"
                >

                </site-harbor>
            </div>
        </div>
    </div>
</div>
