@import "../../../_style";

.obelisk-container {
  height: 140px;
  width: 190px;
  position: absolute;
  left: 300px;
  top: 40px;
  border-radius: 20px;
}

.obelisk {
  height: 160px;
  position: relative;

  .place {
    float: left;
    position: absolute;

    border-radius: 5px;

    width: 50px;
    height: 50px;

    font-weight: bold;
    font-size: 150%;
    line-height: 50px;
    text-align: center;

    &.BLACK {
      top: 15px;
      left: 15px;
    }

    &.WHITE {
      top: 15px;
      right: 15px;

    }

    &.BROWN {
      bottom: 15px;
      left: 15px;
    }

    &.GRAY {
      right: 15px;
      bottom: 15px;
    }
  }
}

table, th, td {
  border: 1px solid black;
}

th, td {
  height: 20px;
  padding: 10px;
}

th {
  text-align: center;
}

.tables {
  display: inline-flex;
}

.table1 {
  margin-right: 10px;
}

.table2 {
  margin-right: 10px;
}

/*******************************/
.site-name-popup {
  /* position of name and popup sign*/
  left: 36px;
  top: 47px;
}

.popup-text {
  /* position of popup content */
  top: -67px;
  left: -344px;
}

.harbor {
  /* position of harbor */
  top: 6px;
  left: 63px;
}

/*******************************/
