@import "../../../_style";

.obelisk-container {
  height: 140px;
  width: 190px;
  position: absolute;
  left: 300px;
  top: 40px;
  border-radius: 20px;

  .harborRow {
    padding: 0;

    .harbor {
      border: 1px solid black;
      height: 40px;
      width: 150px;
      line-height: 30px;
      margin-top: 5px;
      margin-left: 15px;
      text-align: center;
      padding: 0;
      border-radius: 10px;
      background-color: rgba(139, 139, 115, 0.66);
    }
  }
}

.obelisk{
  height: 160px;
  position: relative;

  .place {
    float: left;
    position: absolute;

    border-radius: 5px;

    width: 50px;
    height: 50px;

    font-weight: bold;
    font-size: 150%;
    line-height: 50px;
    text-align: center;

    &.BLACK {
      top: 15px;
      left: 15px;
    }

    &.WHITE {
      top: 15px;
      right: 15px;

    }

    &.BROWN {
      bottom: 15px;
      left: 15px;
    }

    &.GRAY {
      right: 15px;
      bottom: 15px;
    }
  }
}

.fa{
  font-size: 3rem;
}

.fa:hover{
  color: whitesmoke;
}


.siteName {
  position: absolute;
  left: 20px;
  top: 70px;
}

table, th, td {
  border: 1px solid black;
}

th, td{
  height: 20px;
  padding: 10px;
}

th{
  text-align: center;
}

.tables{
  display: inline-flex;
}

.table1{
  margin-right: 10px;
}

.table2{
  margin-right: 10px;
}

h2{
  height: 10px;
  position: relative;
  top: -10px;
}

h3{
  font-size: 140%;
  height: 10px;
  position: relative;
  top: -10px;
}


/*******************************/
/* settings for popup position */
.rulesPopup {
  /* position of popup sign */
  top: 80px;
  left: 120px;
}

.popup-text {
  /* position of popup content */
  top: -70px;
  left: 100px;
}
/*******************************/
